@media -sass-debug-info{filename{}line{font-family:\000035}}
body {
  position: relative;
  color: #585f69;
  font-family: "museo-sans", sans-serif, Helvetica;
}

@media -sass-debug-info{filename{}line{font-family:\0000310}}
.navbar-brand {
  margin: 10px auto;
  height: auto;
}

@media -sass-debug-info{filename{}line{font-family:\0000314}}
.navbar-brand.center {
  float: none;
}
@media screen and (max-width: 768px) {
@media -sass-debug-info{filename{}line{font-family:\0000318}}
  .navbar-brand.center #logo-header {
    width: 300px;
  }
}
@media -sass-debug-info{filename{}line{font-family:\0000321}}
.navbar-brand.center #logo-header {
  margin: 10px auto;
}

@media -sass-debug-info{filename{}line{font-family:\0000326}}
.sorting-block ul.sorting-grid {
  padding-top: 15px;
  background-image: linear-gradient(to right, #333333 50%, rgba(255, 255, 255, 0) 0%);
  background-position: top;
  background-size: 20px 1px;
  background-repeat: repeat-x;
}

@media -sass-debug-info{filename{}line{font-family:\0000333}}
.footer {
  background: transparent;
  font-size: 18px;
}

@media -sass-debug-info{filename{}line{font-family:\0000337}}
.footer .navigation li {
  display: inline-block;
  list-style: none;
  margin: 0 5px;
}

@media -sass-debug-info{filename{}line{font-family:\0000342}}
.footer a, .copyright a {
  color: #585f69;
  font-size: 18px;
  text-decoration: none;
  border-bottom: 1px dotted #b3bdc2;
}

@media -sass-debug-info{filename{}line{font-family:\0000348}}
.footer .copyright {
  border: none;
  background: transparent;
}

@media -sass-debug-info{filename{}line{font-family:\0000352}}
.header {
  border: none;
}

@media -sass-debug-info{filename{}line{font-family:\0000355}}
.navbar-default {
  box-shadow: none;
  -webkit-box-shadow: none;
  border: none;
}

@media -sass-debug-info{filename{}line{font-family:\0000360}}
.navbar-header {
  width: 100%;
  text-align: center;
}

@media -sass-debug-info{filename{}line{font-family:\0000364}}
a {
  color: #585f69;
}

@media -sass-debug-info{filename{}line{font-family:\0000367}}
a:hover {
  text-decoration: none;
  color: #e38d13;
}

@media -sass-debug-info{filename{}line{font-family:\000033}}
p.large {
  font-size: 20px;
}

@media -sass-debug-info{filename{}line{font-family:\000036}}
ul.blog-tags a:hover {
  background: #e38d13;
}

@media -sass-debug-info{filename{}line{font-family:\0000310}}
.project h1 {
  border-bottom: 1px solid #bbbbbb;
}

@media -sass-debug-info{filename{}line{font-family:\0000313}}
.panel-default {
  border: 1px solid #bbbbbb;
}

@media -sass-debug-info{filename{}line{font-family:\0000316}}
.header {
  border: none;
}

@media -sass-debug-info{filename{}line{font-family:\0000320}}
.privacy-policy {
  margin-top: 20px;
}

@media -sass-debug-info{filename{}line{font-family:\0000324}}
.collapsible-form {
  margin-top: 15px;
  margin-bottom: 20px;
}

@media -sass-debug-info{filename{}line{font-family:\0000329}}
.registration-form input[name="email"] {
  width: 300px;
}

@media -sass-debug-info{filename{}line{font-family:\0000333}}
.next-project img {
  width: 80%;
  max-width: 500px;
  min-width: 320px;
}

@media -sass-debug-info{filename{}line{font-family:\0000339}}
.collapsible-form .ui-widget-content, .well.footer-form {
  border: 1px solid #ff6a0c;
}

@media -sass-debug-info{filename{}line{font-family:\0000343}}
.form-inline .form-group {
  margin-top: 20px;
}

@media -sass-debug-info{filename{}line{font-family:\0000346}}
.sidebar-projects h3, .next-projects h3, .sidebar-project h2 {
  margin-top: 0;
}

@media -sass-debug-info{filename{}line{font-family:\0000350}}
.sidebar-project img {
  margin-bottom: 10px;
}

@media -sass-debug-info{filename{}line{font-family:\0000354}}
.project-tags {
  padding-left: 10px;
}
