@import 'variables.sass'
@import 'theme.sass'

body
    position: relative
    color: #585f69
    font-family: "museo-sans", sans-serif, Helvetica

.navbar-brand
    margin: 10px auto
    height: auto

.navbar-brand.center
    float: none

    @media screen and (max-width: $break-small)
        #logo-header
            width: 300px

    #logo-header
        margin: 10px auto

//http://stackoverflow.com/questions/6250394/how-to-increase-space-between-dotted-border-dots
//http://jsfiddle.net/olivictor/Ldf7z/
.sorting-block ul.sorting-grid
    padding-top: 15px
    background-image: linear-gradient(to right, #333 50%, rgba(255, 255, 255, 0) 0%)
    background-position: top
    background-size: 20px 1px
    background-repeat: repeat-x

.footer
    background: transparent
    font-size: 18px

.footer .navigation li
    display: inline-block
    list-style: none
    margin: 0 5px

.footer a, .copyright a
    color: #585f69
    font-size: 18px
    text-decoration: none
    border-bottom: 1px dotted #b3bdc2

.footer .copyright
    border: none
    background: transparent

.header
    border: none

.navbar-default
    box-shadow: none
    -webkit-box-shadow: none
    border: none

.navbar-header
    width: 100%
    text-align: center

a
    color: #585f69

a:hover
    text-decoration: none
    color: $theme-orange

a:active