@import 'variables.sass'
@import 'theme.sass'


.sorting-block .sorting-grid li span.sorting-cover
    padding: 0 19px 19px 19px
    display: block
    margin-top: 0
    background: $theme-bg-accent

.project-description
    margin: 14px auto 20px auto

p.large
    font-size: 22px

.project h1
    color: $theme-font-accent

.footer-form, .collapsible-form
    color: $theme-font-accent

.panel-default
    border: 1px solid #bbb 

.next-projects
    margin: 16px

.header
    border: none


.privacy-policy 
    margin-top: 20px


.collapsible-form 
    margin-top: 15px
    margin-bottom: 20px


.registration-form input[name="email"]
    width: 300px

.registration-form button[type="submit"]
    margin-right: 10px

.panel-body.ui-accordion-content 
    height: auto !important


.next-project img
    width: 320px


.collapsible-form .ui-widget-content, .well.footer-form
    border: 1px solid #ff6a0c


.form-inline .form-group
    margin-top: 20px


.sidebar-projects
    @media screen and (max-width: $break-medium)
        text-align: center


.sidebar-projects h3, .next-projects h3, .sidebar-project h2
    margin-top: 0


.sidebar-project img
    margin-bottom: 10px



.project-tags
    padding-left: 10px

/*Blog Content Tags*/

.project-tags li
    display: inline
    font-size: 12px
    color: #555
    font-size: 11px
    padding: 3px 7px
    margin-right: 2px
    background: #f4f4f4


.project-tags a
    .h5
        padding-left: 4px
    &:hover
        .h5
            color: $theme-color-primary



.form-feedback-wrap
    display: inline-block

