{% extends '_base.html' %}

{% set page_title = "Unify | Portfolio" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/pages/portfolio-v2.css') }}">
{% endblock %}

{% block main_content %}
<!--=== Content Part ===-->
<div class="container">

    <h1>{{ category }} Projects</h1>

    <!-- Portfolio Sorting Blocks -->
    <div class="sorting-block">

        <ul class="row sorting-grid">
            {% for project in projects %}
            <li class="col-md-4 col-sm-6 col-xs-12 mix category_1 category_3" data-cat="1">
                <a href="/project/{{ project.slug }}">
                    <img style="width:100%" src="http://img.youtube.com/vi/{{project.videos[0].host_guid}}/mqdefault.jpg" alt="{{project.title}}"/>
                    <span class="sorting-cover">
                        <span>{{ project.title }}</span>
                        <p>{{ project.description }}</p>
                    </span>
                </a>
            </li>
            {% endfor %}
        </ul>

        <div class="clearfix"></div>
    </div>
    <!-- End Portfolio Sorting Blocks -->
</div><!--/container-->
<!--=== End Content Part ===-->
{% endblock %}

{% block js %}
<!-- JS Implementing Plugins -->
<script type="text/javascript" src="{{ url_for('static', filename='plugins/jquery.mixitup.min.js') }}"></script>
<!-- JS Page Level -->
<script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/pages/portfolio.js') }}"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
        Portfolio.init();
    });
</script>
{% endblock %}