<!--=== Footer ===-->
<div class="footer">
	<div class="container">
		<div class="row">
            <div class="col-md-{{footer_width}} text-center">
            	<ul class="navigation">
            		<li>
                    	<a href="{{ url_for('about') }}">{{ _('About') }}</a>
                    </li>
                    <li>
                    	<a href="{{ url_for('page_contact') }}">{{ _('Contact') }}</a>
                    </li>
            		<li>
                    <a href="{{ url_for('privacy-policy') }}">{{ _('Privacy') }}</a>
                    </li>
                    <li>
                    	<a href="{{ url_for('terms-of-service') }}">{{ _('Terms') }}</a>
                    </li>
            	</li>
            	<div class="copyright">
            		{{ _('2014 &copy; KingOfRandom. ALL Rights Reserved.') }}
            	</div>
            </div><!--/col-md-4-->
		</div><!--/row-->
	</div><!--/container-->
</div><!--/footer-->
<!--=== End Footer ===-->