{%- if not disable_header %}

<!--=== Header ===-->
<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a class="navbar-brand center" href="/">
            <img id="logo-header" src="{{ url_for('static', filename='img/brand-s.png') }}" alt="Logo">
        </a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ url_for('about') }}" class="h4">{{ _('About') }}</a></li>
        <li><a href="{{ url_for('page_contact') }}" class="h4">{{ _('Contact') }}</a></li>
        <li><button class="btn btn-warning btn-lg subscribe-btn">{{ _('Subscribe') }}</button></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>
<!--=== End Header ===-->

{%- if header_position == "center" -%}
{%- else -%}
{%- endif -%}

{%- if breadcrumbs %}
{#- Finding current page's navigation menu link name and parent name #}
{%- set names = [] %}
{%- for item in header_nav %}
    {%- for child in item.children %}
    {%- if url_for(child.endpoint) == request.script_root + request.path %}
        {%- do names.append(item.name) %} {# Adding current page's parent name #}
        {%- do names.append(child.name) %} {# Adding current page's name #}
        {%- do names.append(child.bc_title) %} {# Adding current page's breadcrumb title #}
    {%- endif %}
    {%- endfor %}
{%- endfor %}

{%- endif %}

{%- endif %}