{% extends '_base.html' %}

{% set page_title = "King of Random" %}

{% set footer_width = 12 %}
{% set header_position = "center" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/pages/portfolio-v2.css') }}">
{% endblock %}


## http://jinja.pocoo.org/docs/templates/#macros

% macro project_bucket(title, class, projects)
    <h1>{{title}}</h1>
    <ul class="row sorting-grid">
        {% for project in projects %}
        <li class="col-md-4 col-sm-6 col-xs-12 mix{{class}}" data-cat="1">
            <a href="/project/{{ project.slug }}">
                <img style="width:100%" src="http://img.youtube.com/vi/{{project.videos[0].host_guid}}/mqdefault.jpg" alt="{{project.title}}"/>
                <span class="sorting-cover">
                    <h3>{{ project.title }}</h3>
                    <p>{{ project.description }}</p>
                </span>
            </a>
        </li>
        {% endfor %}
    </ul>
% endmacro


{% block main_content %}
<!--=== Content Part ===-->
<div class="container">

    
    <!-- Portfolio Sorting Blocks -->
    <div class="sorting-block">

        {{ project_bucket('Featured','featured',featured) }}
        {{ project_bucket('Latest','latest',latest) }}
        {{ project_bucket('Popular','popular',popular) }}


        <div class="clearfix"></div>
    </div>
    <!-- End Portfolio Sorting Blocks -->
</div><!--/container-->
<!--=== End Content Part ===-->
{% endblock %}

{% block js %}
<!-- JS Implementing Plugins -->
<script type="text/javascript" src="{{ url_for('static', filename='plugins/jquery.mixitup.min.js') }}"></script>
<!-- JS Page Level -->
<script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/pages/portfolio.js') }}"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
        Portfolio.init();
    });
</script>
{% endblock %}