{% extends '_base.html' %}

{% set page_title = project.title %}
{% set content_header = project.title %}

{% set footer_width = 8 %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/pages/blog.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/pages/page_magazine.css') }}">
<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
<style>
    p.large {
        font-size: 20px;
    }

    .header {
        border: none;
    }

    .project-description {

    }

    .privacy-policy {
        margin-top: 20px;
    }

    .collapsible-form {
        margin-top: 15px;
        margin-bottom: 20px;
    }

    .registration-form input[name="email"] {
        width: 300px;
    }

    .next-project img { 
        width:80%; max-width:500px; min-width:320px;
    }
    
    .collapsible-form .ui-widget-content, .well.footer-form {
         border: 1px solid #ff6a0c;
    }

    .form-inline .form-group {
        margin-top: 20px;
    }

    .sidebar-projects h3, .next-projects h3, .sidebar-project h2 {
        margin-top: 0;
    } 

    .sidebar-project img {
        margin-bottom: 10px;
    }

    .project-tags {
        padding-left: 10px;
    }


</style>
{% endblock %}

{% block head_content %} 
<script type="text/javascript" src="{{ url_for('static', filename='plugins/jquery.fitvids.js') }}"></script>
{% endblock %}

{% block main_content %}
<!--=== Content Part ===-->
<div class="container">
	<div class="row blog-page blog-item">
        <!-- Left Sidebar -->
    	<div class="col-md-8 md-margin-bottom-60">
            <!--Blog Post-->
            <div class="project margin-bottom-40">
                <h1>{{ project.title }}</h1>

                <div class="project-tags">
                    <ul class="list-unstyled blog-tags">
                        {% for tag in project.tags %}
                        <!-- #TODO do not show 'featured' tag -->
                        <li><a href="/category/{{ tag.name }}"><i class="icon-tags"></i><span class="h5">{{ tag.name }}</span></a></li>
                        {% endfor %}
                    </ul>
                </div>
                
                <div class="project-description">
                <p class="large">
                {{ project.description|safe }}
                </p>
            </div>

                <div id="project-top-form" class="collapsible-form">
                  <button type="button" class="btn btn-warning">{{ _('Subscribe to King of Random') }}</button>
                  <div class="panel-body">
                    <p class="large">
                        First one is free... so are the rest. Daily.
                    </p>
                    <form class="form-inline registration-form" role="form">
                        {{ subscribe_form.csrf_token }}
                        <div class="form-group">
                            {{ subscribe_form.email.label(class="sr-only") }}
                            {{ subscribe_form.email(class="form-control", placeholder=subscribe_form.email.label.text) }}
                            <button type="submit" class="btn btn-warning">{{ _('I\'m in') }}</button>
                        </div>
                    </form>
                    <div class="privacy-policy">
                        <small>By submitting above you agree to our privacy policy.</small>
                    </div>
                  </div>
                </div>

                <div class="project-video">
                    <div id="ytplayer" style="margin: 0px auto;width:100%;"></div>
                    {% for video in project.videos %}
                        <script>
                          // Load the IFrame Player API code asynchronously.
                          var tag = document.createElement('script');
                          tag.src = "https://www.youtube.com/player_api";
                          var firstScriptTag = document.getElementsByTagName('script')[0];
                          firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

                          // Replace the 'ytplayer' element with an <iframe> and
                          // YouTube player after the API code downloads.
                          var player;
                          function onYouTubePlayerAPIReady() {
                            player = new YT.Player('ytplayer', {
                              height: '476',
                              width: '847',
                              videoId: '{{video.host_guid}}'
                            });

                            $(".blog-img").fitVids();
                          }
                        </script>
                    {% endfor %}
                </div>
                

            </div>
            <!--End Blog Post-->


            

                <!-- Next Projects -->
                <div class="panel panel-default next-projects text-center">
                  <div class="panel-body">
                    <h3>Your Next Project</h3>

                    <a href="/project/{{next_project.slug}}">
                    <div class="next-project">
                        <h2>{{next_project.title}}</h2>
                        <img src="http://img.youtube.com/vi/{{next_project.videos[0].host_guid}}/mqdefault.jpg" alt="{{next_project.title}}"/>
                    </div>                
                    </a>
                  </div>
                </div>
                <!-- End Next Projects -->

                <div class="well footer-form text-center">
                    <h2>Want more stuff like this?</h2>

                    <p class="large">We're on a mission to spread meaningful content far and wide.<br/>
                    Try our daily email, The Upworthiest, and see for yourself!</p>

                    <form class="form-inline registration-form" role="form">
                        {{ subscribe_form.csrf_token }}
                        <div class="form-group">
                            {{ subscribe_form.email.label(class="sr-only") }}
                            {{ subscribe_form.email(class="form-control", placeholder=subscribe_form.email.label.text) }}
                            <button type="submit" class="btn btn-warning">{{ _('I\'m in') }}</button>
                        </div>
                        
                    </form>

                    <div class="privacy-policy"><small>By submitting above you agree to the Upworthy privacy policy.</small></div>
                </div>

            <!-- Recent Comments -->
            <!--
            {% for comment in comments recursive %}
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="{{ url_for('static', filename=comment.avatar) }}" alt="" />
                </a>
                <div class="media-body">
                    <h4 class="media-heading">{{ comment.name }} <span>{{ comment.time_delta }} / <a href="#">Reply</a></span></h4>
                    <p>{{ comment.comment }}</p>
                    {% if comment.children %}{{ loop(comment.children) }}{% endif %}
                </div>
            </div>
            {% endfor %}

            <hr>
            -->
            <!-- Comment Form -->
            
            <div class="post-comment">
                <h3>{{ _('Leave a Comment') }}</h3>

                <div id="disqus_thread"></div>
                <script type="text/javascript">
                    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
                    var disqus_shortname = 'kingofrandom'; // required: replace example with your forum shortname

                    /* * * DON'T EDIT BELOW THIS LINE * * */
                    (function() {
                        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                    })();
                </script>
                <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
                <!--    
                <form>
                    {{ comment_form.csrf_token }}

                    {{ comment_form.name.label }}{% if comment_form.name.flags.required %}<span class="color-red">*</span>{% endif %}
                    <div class="row margin-bottom-20">
                        <div class="col-md-7 col-md-offset-0">
                            {{ comment_form.name(class="form-control") }}
                        </div>
                    </div>

                    {{ comment_form.email.label }}{% if comment_form.email.flags.required %}<span class="color-red">*</span>{% endif %}
                    <div class="row margin-bottom-20">
                        <div class="col-md-7 col-md-offset-0">
                            {{ comment_form.email(class="form-control") }}
                        </div>
                    </div>

                    {{ comment_form.message.label }}{% if comment_form.message.flags.required %}<span class="color-red">*</span>{% endif %}
                    <div class="row margin-bottom-20">
                        <div class="col-md-11 col-md-offset-0">
                            {{ comment_form.message(class="form-control", rows="8") }}
                        </div>
                    </div>

                    <p><button class="btn-u" type="submit">{{ _('Send Message') }}</button></p>
                </form>
                -->
            </div>
            
            <!-- End Comment Form -->
        </div>
        <!-- End Left Sidebar -->

        <!-- Right Sidebar -->
        <div class="col-md-4 magazine-page">

            <div class="sidebar-projects margin-bottom-40">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3>Recommended Projects</h3>
                    </div>
                  <!-- List group -->
                  <ul class="list-group">
                    {% for project in suggested_projects %}
                    <li class="list-group-item sidebar-project">
                        <a href="/project/{{project.slug}}">
                            <a href="/project/{{project.slug}}"><h2>{{project.title}}</h2></a>
                            <img style="" src="http://img.youtube.com/vi/{{project.videos[0].host_guid}}/mqdefault.jpg" alt="{{project.title}}"/>
                        </a>
                    </li>
                    {% endfor %}
                  </ul>
                </div>
                
            </div>

        </div>
        <!-- End Right Sidebar -->
    </div><!--/row-->
</div><!--/container-->
<!--=== End Content Part ===-->
{% endblock %}

{% block js %}
<!-- JS Page Level -->
<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        
        App.init();
        
        $( "#project-top-form" ).accordion({
          collapsible: true
          //active: false
        });
        
        var Form = function(registrationFormSelector){

            function bindFormAction() {
                $(registrationFormSelector).on('submit',submitForm);
            };

            function unbindFormAction() {
                $(registrationFormSelector).off('submit',submitForm);
            };

            function showFormProcessing() {

            };

            function hideFormProcessing() {

            };

            function resolveSubmission(response) {
                console.log(response);

                bindFormAction();
                hideFormProcessing();

                if (response.success) {
                    alert('Thanks!');
                } if (response.data.class=="WebServiceError" && response.data.category=="email") {
                    alert('Check for your confirmation email');
                } else {
                    alert('Error :( Please try again later');
                }   
            };

            function registrationFormAction() {
                var email = $(registrationFormSelector).find('input[name=email]').first().val();

                $.ajax({
                  url: '/register',
                  data: {'email':email},
                  success: resolveSubmission
                });
            };

            function submitForm() {
                event.preventDefault();
                console.log('submitting form');

                // lock out form UI until response
                unbindFormAction();
                showFormProcessing();

                registrationFormAction();

                return false;
            };

            // form init
            bindFormAction();

            return {
                submit: submitForm
            };
        };

        var Project = function(){

            var formSelector = '.registration-form';

            return {
                bindForms: function(){
                    $(formSelector).each(function(index,formDOM){
                        console.log(formDOM);
                        var form = new Form(formDOM);
                        console.log(form);
                    });
                }
            };
        };

        // project init
        var project = new Project();
        project.bindForms();

    });
</script>
{% endblock %}