{% extends '_base.html' %}

{% set page_title = project.title %}
{% set content_header = project.title %}

{% set footer_width = 8 %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/pages/blog.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='plugins/ladda/ladda-themeless.min.css') }}">
{% endblock %}

{% block head_content %} 
{% endblock %}

{% block main_content %}
<!-- Modal -->
<div class="modal fade" id="subscribe-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
            <div class="col-md-12 text-center jumbo">
              <h1>{{modal_title}}</h1>
              <p class="lead">{{modal_subtitle}}</p>
            </div>
          </div>
            <div class="row">
            <div class="col-md-5 col-md-offset-1">
              <img src="/img/pages/grant_solo.jpg" width="100%"/>
            </div>
            <div class="col-md-5">
                <div class="well">
                    <h3>{{form_text}}</h3>
                    <p>{{form_sub_text}}</p>

                    <div class="accent-form-fields">                                                 
                            <form class="subscribe-form" role="form">
                                {{ form.csrf_token }}
                                  <div class="form-group">
                                    {{ form.name.label }} {% if form.name.flags.required %}<span class="color-red">*</span>{% endif %}
                                        {{ form.name(class="form-control") }}
                                </div>
                                <div class="form-group">
                                    {{ form.email.label }} {% if form.email.flags.required %}<span class="color-red">*</span>{% endif %}
                                        {{ form.email(class="form-control") }}
                                </div>
                                <div class="form-group">
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-warning btn-lg">{{call_to_action}}</button>
                                    </div>
                                    <div class="text-center form-feedback"></div>
                                </div>
                            </form>
                    </div>
                  </div>
               </div>
            </div><!--/row-fluid-->
      </div>
    </div>
  </div>
</div>

<!--=== Content Part ===-->
<div class="container project">
	<div class="row blog-page blog-item">
        <!-- Left Sidebar -->
    	<div class="col-md-8">
            <!--Blog Post-->
            <div class="project row">
                <h1>{{ project.title }}</h1>

                <div class="project-tags">
                    <ul class="list-unstyled blog-tags">
                        {% for tag in project.tags %}
                        <!-- #TODO do not show 'featured' tag -->
                        <li><a href="/category/{{ tag.name }}"><i class="icon-tags"></i><span class="h5">{{ tag.name }}</span></a></li>
                        {% endfor %}
                    </ul>
                </div>
                
                <div class="project-summary">
                <p class="large">
                {{ project.description|safe }}
                </p>

            </div>

                <div class="collapsible-form well">
                  <h2>{{ _('Subscribe to King of Random') }}</h2>
                    <p class="large">
                        Get a FREE DIY Mini Course that will change your life.
                    </p>
                    <form class="form-inline top-form registration-form" role="form">
                        {{ subscribe_form.csrf_token }}
                        <div class="form-group">
                            {{ subscribe_form.email.label(class="sr-only") }}
                            {{ subscribe_form.email(class="form-control input-lg", placeholder=subscribe_form.email.label.text) }}
                            <button type="submit" class="btn btn-warning btn-lg ladda-button" data-style="expand-right" data-size="l"><span class="ladda-label">{{ _('Go') }}</span></button>
                            <div class="form-feedback-wrap">
                                <div class="form-feedback"></div>
                            </div>
                        </div>
                        
                    </form>
                    <div class="privacy-policy">
                        <small>We'll never spam you. Unsubscribe anytime.</small>
                    </div>
                </div>

                <div class="project-video">
                    <div id="ytplayer" style="margin: 0px auto;width:100%;">
                        You need Flash player 8+ and JavaScript enabled to view this video.
                    </div>
                    {% for video in project.videos %}
                        <script>
                          // Load the IFrame Player API code asynchronously.
                          var tag = document.createElement('script');
                          tag.src = "https://www.youtube.com/player_api";
                          var firstScriptTag = document.getElementsByTagName('script')[0];
                          firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
                          // https://developers.google.com/youtube/iframe_api_reference#Loading_a_Video_Player
                          // https://developers.google.com/youtube/player_parameters?playerVersion=HTML5
                          var player;
                          function onYouTubePlayerAPIReady() {
                            player = new YT.Player('ytplayer', {
                              height: '476',
                              width: '847',
                              videoId: '{{video.host_guid}}',
                              playerVars: { 
                                  autohide: 1,
                                  color: 'white',
                                  controls: 2,
                                  enablejsapi: 1,
                                  rel: 0
                              }
                            });

                            //ytplayer = document.getElementById("myytplayer");
                            player.addEventListener('onStateChange','onPlayerStateChange');

                        
                            $(".project-video").fitVids();

                            startTimer();
                          }

                          //https://developers.google.com/youtube/js_api_reference

                          function onPlayerStateChange(event) {
                            console.log('video state changed');
                            console.log(event);
                            if (event.data == YT.PlayerState.PLAYING) {
                                pauseTimer();
                            } else if (event.data == YT.PlayerState.PAUSED || event.data == YT.PlayerState.ENDED) {
                                startTimer();
                            }
                          }

                          var modal = {
                            timer: null,
                            done: false,
                            time: 5
                          }

                          function deductTime() {
                            modal.time-=1;
                            console.log(modal.time);
                            if (modal.time<=0) {
                                destroyTimer();
                                $('#subscribe-modal').modal('show');
                            }
                          }

                          function startTimer(){
                            if (!modal.done) {
                                console.log('starting timer');
                                modal.timer = setInterval(deductTime,1000);
                            }
                          }

                          function pauseTimer(){
                            console.log('pause timer');
                            clearInterval(modal.timer);
                          }

                          function destroyTimer(){
                            console.log('destroy timer');
                            clearInterval(modal.timer);
                            modal.done=true;
                          }
                        </script>
                    {% endfor %}
                </div>
                

            </div>

            <div class="full-project-info row">
                <button type="button" class="btn btn-default" id="toggle-info" data-toggle="collapse" data-target="#full-info">
                  Show more info
                </button>

                <div id="full-info" class="collapse in">
                    <p>
                    {{ project.full_description|safe }}
                    </p>
                </div>
            </div>
            <!--End Project-->
            <!-- Next Projects -->
            <div class="next-projects text-center row">
                <h3>Your Next Awesome Project</h3>

                <a href="/project/{{next_project.slug}}">
                    <div class="row-fluid next-project">
                        <div class="col-md-6">
                            <img src="http://img.youtube.com/vi/{{next_project.videos[0].host_guid}}/mqdefault.jpg" alt="{{next_project.title}}"/>
                        </div>
                        <div class="col-md-6">
                            <h2>{{next_project.title}}</h2>
                        </div>
                    </div>           
                </a>
            </div>
            <!-- End Next Projects -->

            <div class="well footer-form text-center row">
                <h2>Get a FREE DIY Mini Course</h2>

                <p class="large">
                Get 10 absolutely epic and amazing DIY projects delivered to your inbox.<br/>
I promise it'll change your life. 100% FREE!
</p>

                <form class="form-inline bottom-form registration-form" role="form">
                    {{ subscribe_form.csrf_token }}
                    <div class="form-group">
                        {{ subscribe_form.email.label(class="sr-only") }}
                        {{ subscribe_form.email(class="form-control input-lg", placeholder=subscribe_form.email.label.text) }}
                        <br/>
                        <button type="submit" class="btn btn-lg btn-warning ladda-button" data-style="expand-right" data-size="l"><span class="ladda-label">{{ _('Send my free course!') }}</span></button>
                        <div class="form-feedback"></div>
                    </div>
                    
                </form>

                <div class="privacy-policy">
                    <small>We'll never spam you. Unsubscribe anytime.</small>
                </div>
            </div>

            <!-- Comment Form -->
            <div class="post-comment">
                <h3>{{ _('Leave a Comment') }}</h3>

                <div id="disqus_thread"></div>
                <script type="text/javascript">
                    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
                    var disqus_shortname = 'kingofrandom'; // required: replace example with your forum shortname

                    /* * * DON'T EDIT BELOW THIS LINE * * */
                    (function() {
                        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                    })();
                </script>
                <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
            </div>
            
            <!-- End Comment Form -->
        </div>
        <!-- End Left Sidebar -->

        <!-- Right Sidebar -->
        <div class="col-md-4 magazine-page">

            <div class="sidebar-projects" id="fixed-sidebar">
                  <h2>Best Projects</h2>
                  <!-- List group -->
                  <ul class="list-group">
                    {% for project in suggested_projects %}
                    <li class="list-group-item sidebar-project">
                        <a href="/project/{{project.slug}}">
                            <img style="" src="http://img.youtube.com/vi/{{project.videos[0].host_guid}}/mqdefault.jpg" alt="{{project.title}}"/>
                            <h3>{{project.title}}</h3>
                        </a>
                    </li>
                    {% endfor %}
                  </ul>
            </div>

        </div>
        <!-- End Right Sidebar -->
    </div><!--/row-->
</div><!--/container-->
<!--=== End Content Part ===-->
{% endblock %}

{% block js %}
<!-- JS Page Level -->
<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='plugins/jquery.fitvids.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='plugins/jquery.sticky-sidebar-scroll.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='plugins/ladda/spin.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='plugins/ladda/ladda.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/form.js') }}"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {

        // modal
        $('#subscribe-modal').modal({
            keyboard: true,
            show: false
        });


        // collapsible info
        $('#full-info').collapse({
          toggle: true
        });
        $('#full-info').on('hidden.bs.collapse', function () {
            console.log('hidden');
            $('#toggle-info').html('Show more info');
        });
        $('#full-info').on('shown.bs.collapse', function () {
            console.log('shown');
            $('#toggle-info').html('Hide more info');
        });

        App.init();

        //Ladda.bind( 'input[type=submit]' );

        // http://www.skipser.com/p/2/p/sticky-sidebar-div-jquery-plugin.html
        if ($(window).width()>=1200) {
            $.stickysidebarscroll("#fixed-sidebar",{offset: {top: -100, bottom: 150}});
        }

        $( "#project-top-form" ).accordion({
          collapsible: true
          //active: false
        });

        var config = {
            forms: [
                { 
                    selector: '.registration-form', 
                    feedback: '.form-feedback',
                    submit: '/register',
                    fields: ['email']
                }
            ]
        };

        // project init
        var project = new Project(config);
        project.bindForms();

    });
</script>
{% endblock %}