{% extends '_base.html' %}

{% set page_title = "Unify | Blog Left Sidebar" %}

{% set breadcrumbs = True %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/pages/blog.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/pages/page_search.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/pages/page_magazine.css') }}">
{% endblock %}

{% block main_content %}
<!--=== Content Part ===-->
<div class="container">
	<div class="row blog-page">
        <!-- Left Sidebar -->
        <div class="col-md-3">
            <!-- Social Icons -->
            <div class="magazine-sb-social margin-bottom-30">
                <div class="headline headline-md"><h2>{{ _('Social Icons') }}</h2></div>
                <ul class="social-icons social-icons-color">
                    <li><a class="social_rss" data-original-title="Feed" href="#"></a></li>
                    <li><a class="social_facebook" data-original-title="Facebook" href="#"></a></li>
                    <li><a class="social_twitter" data-original-title="Twitter" href="#"></a></li>
                    <li><a class="social_vimeo" data-original-title="Vimeo" href="#"></a></li>
                    <li><a class="social_googleplus" data-original-title="Goole Plus" href="#"></a></li>
                    <li><a class="social_pintrest" data-original-title="Pinterest" href="#"></a></li>
                    <li><a class="social_linkedin" data-original-title="Linkedin" href="#"></a></li>
                    <li><a class="social_dropbox" data-original-title="Dropbox" href="#"></a></li>
                    <li><a class="social_picasa" data-original-title="Picasa" href="#"></a></li>
                    <li><a class="social_spotify" data-original-title="Spotify" href="#"></a></li>
                    <li><a class="social_jolicloud" data-original-title="Jolicloud" href="#"></a></li>
                    <li><a class="social_wordpress" data-original-title="Wordpress" href="#"></a></li>
                    <li><a class="social_github" data-original-title="Github" href="#"></a></li>
                    <li><a class="social_xing" data-original-title="Xing" href="#"></a></li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <!-- End Social Icons -->

            <!-- Posts -->
            <div class="posts margin-bottom-40">
                <div class="headline headline-md"><h2>{{ _('Recent Posts') }}</h2></div>
                <dl class="dl-horizontal">
                    <dt><a href="#"><img src="{{ url_for('static', filename='img/sliders/elastislide/6.jpg') }}" alt="" /></a></dt>
                    <dd>
                        <p><a href="#">{{ _('Responsive Bootstrap 3 Template placerat idelo alac eratamet.') }}</a></p>
                    </dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt><a href="#"><img src="{{ url_for('static', filename='img/sliders/elastislide/10.jpg') }}" alt="" /></a></dt>
                    <dd>
                        <p><a href="#">{{ _('100+ Amazing Features Layer Slider, Layer Slider, Icons, 60+ Pages etc.') }}</a></p>
                    </dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt><a href="#"><img src="{{ url_for('static', filename='img/sliders/elastislide/11.jpg') }}" alt="" /></a></dt>
                    <dd>
                        <p><a href="#">{{ _('Developer Friendly Code imperdiet condime ntumi mperdiet condim.') }}</a></p>
                    </dd>
                </dl>
            </div><!--/posts-->
            <!-- End Posts -->

            <!-- Tabs Widget -->
            <div class="headline headline-md"><h2>{{ _('Tabs Widget') }}</h2></div>
            <div class="tab-v2 margin-bottom-40">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#home-1">{{ _('About Us') }}</a></li>
                    <li><a data-toggle="tab" href="#home-2">{{ _('Quick Links') }}</a></li>
                </ul>
                <div class="tab-content">
                    <div id="home-1" class="tab-pane active">
                        <p>{{ _('Vivamus imperdiet condimentum diam, eget placerat felis consectetur id. Donec eget orci metus, ac ac adipiscing nunc.') }}</p> <p>{{ _('Pellentesque fermentum, ante ac felis consectetur id. Donec eget orci metusvivamus imperdiet.') }}</p>
                    </div>
                    <div id="home-2" class="tab-pane magazine-sb-categories">
                        <div class="row">
                            <ul class="list-unstyled col-xs-6">
                                <li><a href="#">{{ _('Best Sliders') }}</a></li>
                                <li><a href="#">{{ _('Parralax Page') }}</a></li>
                                <li><a href="#">{{ _('Backgrounds') }}</a></li>
                                <li><a href="#">{{ _('Parralax Slider') }}</a></li>
                                <li><a href="#">{{ _('Responsive') }}</a></li>
                                <li><a href="#">{{ _('800+ Icons') }}</a></li>
                            </ul>
                            <ul class="list-unstyled col-xs-6">
                                <li><a href="#">{{ _('60+ Pages') }}</a></li>
                                <li><a href="#">{{ _('Layer Slider') }}</a></li>
                                <li><a href="#">{{ _('Bootstrap 3') }}</a></li>
                                <li><a href="#">{{ _('Fixed Header') }}</a></li>
                                <li><a href="#">{{ _('Best Template') }}</a></li>
                                <li><a href="#">{{ _('And Many More') }}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Photo Stream -->
            <div class="headline headline-md"><h2>{{ _('Photo Stream') }}</h2></div>
            <ul class="list-unstyled blog-photos margin-bottom-30">
                <li><a href="#"><img class="hover-effect" alt="" src="{{ url_for('static', filename='img/sliders/elastislide/5.jpg') }}"></a></li>
                <li><a href="#"><img class="hover-effect" alt="" src="{{ url_for('static', filename='img/sliders/elastislide/6.jpg') }}"></a></li>
                <li><a href="#"><img class="hover-effect" alt="" src="{{ url_for('static', filename='img/sliders/elastislide/8.jpg') }}"></a></li>
                <li><a href="#"><img class="hover-effect" alt="" src="{{ url_for('static', filename='img/sliders/elastislide/10.jpg') }}"></a></li>
                <li><a href="#"><img class="hover-effect" alt="" src="{{ url_for('static', filename='img/sliders/elastislide/11.jpg') }}"></a></li>
                <li><a href="#"><img class="hover-effect" alt="" src="{{ url_for('static', filename='img/sliders/elastislide/1.jpg') }}"></a></li>
                <li><a href="#"><img class="hover-effect" alt="" src="{{ url_for('static', filename='img/sliders/elastislide/2.jpg') }}"></a></li>
                <li><a href="#"><img class="hover-effect" alt="" src="{{ url_for('static', filename='img/sliders/elastislide/7.jpg') }}"></a></li>
            </ul>
            <!-- End Photo Stream -->

            <!-- Blog Latest Tweets -->
            <div class="blog-twitter">
                <div class="headline headline-md"><h2>{{ _('Latest Tweets') }}</h2></div>
                <div class="blog-twitter-inner">
                    <i class="icon-twitter"></i>
                    <a href="#">{{ _('@htmlstream') }}</a>
                    {{ _('At vero eos et accusamus et iusto odio dignissimos.') }}
                    <a href="#">{{ _('http://t.co/sBav7dm') }}</a>
                    <span>{{ _('5 hours ago') }}</span>
                </div>
                <div class="blog-twitter-inner">
                    <i class="icon-twitter"></i>
                    <a href="#">{{ _('@htmlstream') }}</a>
                    {{ _('At vero eos et accusamus et iusto odio dignissimos.') }}
                    <a href="#">{{ _('http://t.co/sBav7dm') }}</a>
                    <span>{{ _('5 hours ago') }}</span>
                </div>
                <div class="blog-twitter-inner">
                    <i class="icon-twitter"></i>
                    <a href="#">{{ _('@htmlstream') }}</a>
                    {{ _('At vero eos et accusamus et iusto odio dignissimos.') }}
                    <a href="#">{{ _('http://t.co/sBav7dm') }}</a>
                    <span>{{ _('5 hours ago') }}</span>
                </div>
            </div>
            <!-- End Blog Latest Tweets -->
        </div>
        <!-- End Left Sidebar -->

        <!-- Right Sidebar -->
    	<div class="col-md-9 md-margin-bottom-40">
            {% set blog_post_classes = ['search-blocks-top-sea', 'search-blocks-colored search-blocks-grey', 'search-blocks-top-yellow', 'search-blocks-colored search-blocks-sea'] %}
            {% for post, class in zip(blog_posts, blog_post_classes) %}
            <div class="search-blocks {{ class }}">
                <div class="row">
                    <div class="col-md-4 search-img">
                        <img alt="" src="{{ url_for('static', filename=post.header) }}" class="img-responsive">
                        <ul class="list-unstyled">
                           <li><i class="icon-briefcase"></i> {{ _('Dell, Google') }}</li>
                           <li><i class="icon-map-marker"></i> {{ _('New York, US') }}</li>
                        </ul>
                    </div>
                    <div class="col-md-8">
                        <h2><a href="#">{{ post.title }}</a></h2>
                        <ul class="list-unstyled search-rating">
                           <li><i class="icon-star"></i></li>
                           <li><i class="icon-star"></i></li>
                           <li><i class="icon-star"></i></li>
                           <li><i class="icon-star"></i></li>
                           <li><i class="icon-star"></i></li>
                        </ul>
                        {{ post.description|safe }}
                    </div>
                </div>
            </div>
            <div class="margin-bottom-20 clearfix"></div>
            {% endfor %}

            <!--Pagination-->
            <div class="text-center">
                <ul class="pagination">
                    <li><a href="#">«</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li class="active"><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">6</a></li>
                    <li><a href="#">7</a></li>
                    <li><a href="#">8</a></li>
                    <li><a href="#">»</a></li>
                </ul>
            </div>
            <!--End Pagination-->
        </div>
        <!-- End Right Sidebar -->
    </div><!--/row-->
</div><!--/container-->
<!--=== End Content Part ===-->
{% endblock %}

{% block js %}
<!-- JS Page Level -->
<script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
    });
</script>
{% endblock %}