{% extends '_base.html' %}

{% set page_title = "Unify | Blog Medium" %}

{% set breadcrumbs = True %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/pages/blog.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/pages/page_magazine.css') }}">
{% endblock %}

{% block main_content %}
<!--=== Content Part ===-->
<div class="container blog-full-width">
    {% for post in blog_posts %}
	<div class="blog margin-bottom-40">
        <div class="blog-img">
            {% if post.type == 'IMAGE' %}
            <img class="img-responsive" src="{{ url_for('static', filename=post.header) }}" alt="">
            {% elif post.type == 'VIDEO' %}
            <div class="responsive-video">
                <iframe src="{{ post.header }}" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
            </div>
            {% elif post.type == 'IMAGE_CAROUSEL' %}
            <div class="carousel slide carousel-v1" id="myCarousel">
                <div class="carousel-inner">
                    {% for item in post.header %}
                    <div class="item{% if loop.first %} active{% endif %}">
                        <img alt="" src="{{ url_for('static', filename=item.url) }}">
                        <div class="carousel-caption"><p>{{ item.title }}</p></div>
                    </div>
                    {% endfor %}
                </div>
                <div class="carousel-arrow">
                    <a data-slide="prev" href="#myCarousel" class="left carousel-control">
                        <i class="icon-angle-left"></i>
                    </a>
                    <a data-slide="next" href="#myCarousel" class="right carousel-control">
                        <i class="icon-angle-right"></i>
                    </a>
                </div>
            </div>
            {% endif %}
        </div>
    	<h2><a href="{{ url_for('blog_item_option1') }}">{{ post.title }}</a></h2>
        <div class="blog-post-tags">
            <ul class="list-unstyled list-inline blog-info">
                <li><i class="icon-calendar"></i> {{ post.date|format_date }}</li>
                <li><i class="icon-pencil"></i> {{ post.author.name }}</li>
                <li><i class="icon-comments"></i> <a href="#">{{ post.comments_count }} {{ _('Comments') }}</a></li>
                <li><i class="icon-tags"></i> {{ post.tags|join(', ') }}</li>
            </ul>
        </div>
        {{ post.description|safe }}
        <p><a class="btn-u btn-u-small" href="{{ url_for('blog_item_option2') }}"><i class="icon-plus-sign"></i> {{ _('Read More') }}</a></p>
    </div>
    {% endfor %}

    <!--Pagination-->
    <div class="text-center">
        <ul class="pagination">
            <li><a href="#">«</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li class="active"><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">6</a></li>
            <li><a href="#">7</a></li>
            <li><a href="#">8</a></li>
            <li><a href="#">»</a></li>
        </ul>
    </div>
    <!--End Pagination-->

</div><!--/container-->
<!--=== End Content Part ===-->
{% endblock %}

{% block js %}
<!-- JS Page Level -->
<script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
    });
</script>
{% endblock %}