{% extends '_base.html' %}

{% set page_title = "Unify | Accordion and Tabs" %}

{% set breadcrumbs = True %}

{% block main_content %}
<!--=== Content Part ===-->
<div class="container">
    <div class="row">
        {% include '_sidebar_nav_menu.html' %}

        <!--Begin Content-->
        <div class="col-md-9">
            <div class="panel-group acc-v1" id="accordion-1">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-One">
                                {{ _('Collapsible Group Item #1') }}
                            </a>
                        </h4>
                    </div>
                    <div id="collapse-One" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <img class="img-responsive" src="{{ url_for('static', filename='img/new/img5.jpg') }}" alt="">
                                </div>
                                <div class="col-md-8">
                                    {{ _('Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.') }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-Two">
                                {{ _('Collapsible Group Item #2') }}
                            </a>
                        </h4>
                    </div>
                    <div id="collapse-Two" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-8">
                                    <p>{{ _('Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.') }}</p>
                                    <ul class="list-unstyled">
                                        <li><i class="icon-ok color-green"></i> {{ _('Donec id elit non mi porta gravida at eget metus..') }}</li>
                                        <li><i class="icon-ok color-green"></i> {{ _('Fusce dapibus, tellus ac cursus comodo egetine..') }}</li>
                                        <li><i class="icon-ok color-green"></i> {{ _('Food truck quinoa nesciunt laborum eiusmod runch..') }}</li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <img class="img-responsive" src="{{ url_for('static', filename='img/main/6.jpg') }}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-Three">
                                {{ _('Collapsible Group Item #3') }}
                            </a>
                        </h4>
                    </div>
                    <div id="collapse-Three" class="panel-collapse collapse">
                        <div class="panel-body">
                            {{ _("Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Food truck quinoa nesciunt laborum eiusmodolf moon tempor, sunt aliqua put a bird. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.") }}
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-Four">
                                {{ _('Collapsible Group Item #4') }}
                            </a>
                        </h4>
                    </div>
                    <div id="collapse-Four" class="panel-collapse collapse">
                        <div class="panel-body">
                            {{ _('Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.') }}
                        </div>
                    </div>
                </div>
            </div><!--/acc-v1-->

            <div class="margin-bottom-60"></div>

            <div class="tab-v1">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#home" data-toggle="tab">{{ _('Home') }}</a></li>
                    <li><a href="#profile" data-toggle="tab">{{ _('Profile') }}</a></li>
                    <li><a href="#messages" data-toggle="tab">{{ _('Messages') }}</a></li>
                    <li><a href="#settings" data-toggle="tab">{{ _('Settings') }}</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="home">
                        <div class="row">
                            <div class="col-md-4">
                                <img alt="" class="img-responsive img-tab-space" src="{{ url_for('static', filename='img/new/img4.jpg') }}">
                            </div>
                            <div class="col-md-8">
                                <h4>{{ _('Heading Sample 1') }}</h4>
                                <p>{{ _('Vivamus imperdiet condimentum diam, eget placerat felis consectetur id. Donec eget orci metus, ac adipiscing nunc. Pellentesque fermentum') }} <strong>{{ _('ivamus imperdiet') }}</strong> {{ _('condimentum diam, eget placerat felis consectetur id. Donec eget orci metus, ac adipiscing nunc. Pellentesque') }} <strong>{{ _('fermentum vivamus') }}</strong> {{ _('imperdiet condimentum diam, eget placerat felis consectetur id. Donec eget orci metus, ac adipiscing nunc. Pellentesque fermentum, ante ac felis consectetur id. Donec eget orci metusvivamus imperdiet.') }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="profile">
                        <img alt="" class="pull-left lft-img-margin img-width-200" src="{{ url_for('static', filename='img/main/5.jpg') }}">
                        <h4>{{ _('Heading Sample 2') }}</h4>
                        <p>{{ _('Vivamus imperdiet condimentum diam, eget placerat felis consectetur id. Donec eget orci metus, ac adipiscing nunc. Pellentesque fermentum, ante ac interdum ullamcorper. Donec eget orci metus,') }} <strong>{{ _('ac adipiscing nunc.') }}</strong> {{ _('Vivamus imperdiet condimentum diam, eget placerat felis consectetur id. Donec eget orci metus, ac adipiscing nunc. Pellentesque fermentum, ante ac interdum id. Donec eget orci metus, ac adipiscing nunc. Pellentesque fermentum, ante ac interdum ullamcorper. Donec eget orci metus, ac adipiscing nunc. Pellentesque fermentum, ante ac') }} <strong>{{ _('interdum ullamcorper.') }}</strong></p>
                    </div>
                    <div class="tab-pane" id="messages">
                        <h4>{{ _('Heading Sample 3') }}</h4>
                        <p><img alt="" class="pull-right rgt-img-margin img-width-200" src="{{ url_for('static', filename='img/main/6.jpg') }}"> <strong>{{ _('Vivamus imperdiet condimentum diam, eget placerat felis consectetur id.') }}</strong> {{ _('Donec eget orci metus, Vivamus imperdiet condimentum diam, eget placerat felis consectetur id. Donec eget orci metus, ac adipiscing nunc. Pellentesque fermentum, ante ac interdum ullamcorper. Donec eget orci metus, ac adipiscing nunc. Pellentesque fermentum, consectetur id. Donec eget orci metus, ac adipiscing nunc.') }} <strong>{{ _('Pellentesque fermentum') }}</strong>{{ _(', ante ac interdum ullamcorper. Donec eget orci metus, ac adipiscing nunc. Pellentesque fermentum, ante ac interdum ullamcorper.') }}</p>
                    </div>
                    <div class="tab-pane" id="settings">
                        <h4>{{ _('Heading Sample 4') }}</h4>
                        <p><img alt="" class="pull-right rgt-img-margin img-width-200" src="{{ url_for('static', filename='img/main/1.jpg') }}"> {{ _('Vivamus imperdiet condimentum diam, eget placerat felis consectetur id. Donec eget orci metus, Vivamus imperdiet condimentum diam, eget placerat felis consectetur id. Donec eget orci metus, ac adipiscing nunc. Pellentesque fermentum, ante ac interdum ullamcorper. Donec eget orci metus, ac adipiscing nunc. Pellentesque fermentum, consectetur id. Donec eget orci metus, ac adipiscing nunc.') }} <strong>{{ _('Pellentesque fermentum') }}</strong>{{ _(', ante ac interdum ullamcorper. Donec eget orci metus, ac adipiscing nunc. Pellentesque fermentum, ante ac interdum ullamcorper.') }}</p>
                    </div>
                </div>
            </div>

            <div class="margin-bottom-30"></div>

            <div class="tab-v2">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#home-1" data-toggle="tab">{{ _('Home') }}</a></li>
                    <li><a href="#profile-1" data-toggle="tab">{{ _('Profile') }}</a></li>
                    <li><a href="#messages-1" data-toggle="tab">{{ _('Messages') }}</a></li>
                    <li><a href="#settings-1" data-toggle="tab">{{ _('Settings') }}</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="home-1">
                        <h4>{{ _('Heading Sample 1') }}</h4>
                        <p>{{ _('Vivamus imperdiet condimentum diam, eget placerat felis consectetur id. Donec eget orci metus, ac adipiscing nunc. Pellentesque fermentum') }} <strong>{{ _('ivamus imperdiet') }}</strong> {{ _('condimentum diam, eget placerat felis consectetur id. Donec eget orci metus, ac adipiscing nunc. Pellentesque') }} <strong>{{ _('fermentum vivamus') }}</strong> {{ _('imperdiet condimentum diam, eget placerat felis consectetur id. Donec eget orci metus, ac adipiscing nunc. Pellentesque fermentum, ante ac felis consectetur id. Donec eget orci metusvivamus imperdiet.') }}</p>
                    </div>
                    <div class="tab-pane" id="profile-1">
                        <img alt="" class="pull-left lft-img-margin img-width-200" src="{{ url_for('static', filename='img/main/5.jpg') }}">
                        <h4>{{ _('Heading Sample 2') }}</h4>
                        <p>{{ _('Vivamus imperdiet condimentum diam, eget placerat felis consectetur id. Donec eget orci metus, ac adipiscing nunc. Pellentesque fermentum, ante ac interdum ullamcorper. Donec eget orci metus,') }} <strong>{{ _('ac adipiscing nunc.') }}</strong> {{ _('Vivamus imperdiet condimentum diam, eget placerat felis consectetur id. Donec eget orci metus, ac adipiscing nunc. Pellentesque fermentum, ante ac interdum id. Donec eget orci metus, ac adipiscing nunc. Pellentesque fermentum, ante ac interdum ullamcorper. Donec eget orci metus, ac adipiscing nunc. Pellentesque fermentum, ante ac') }} <strong>{{ _('interdum ullamcorper.') }}</strong></p>
                    </div>
                    <div class="tab-pane" id="messages-1">
                        <h4>{{ _('Heading Sample 3') }}</h4>
                        <p><img alt="" class="pull-right rgt-img-margin img-width-200" src="{{ url_for('static', filename='img/main/6.jpg') }}"> <strong>{{ _('Vivamus imperdiet condimentum diam, eget placerat felis consectetur id.') }}</strong> {{ _('Donec eget orci metus, Vivamus imperdiet condimentum diam, eget placerat felis consectetur id. Donec eget orci metus, ac adipiscing nunc. Pellentesque fermentum, ante ac interdum ullamcorper. Donec eget orci metus, ac adipiscing nunc. Pellentesque fermentum, consectetur id. Donec eget orci metus, ac adipiscing nunc.') }} <strong>{{ _('Pellentesque fermentum') }}</strong>{{ _(', ante ac interdum ullamcorper. Donec eget orci metus, ac adipiscing nunc. Pellentesque fermentum, ante ac interdum ullamcorper.') }}</p>
                    </div>
                    <div class="tab-pane" id="settings-1">
                        <h4>{{ _('Heading Sample 4') }}</h4>
                        <p><img alt="" class="pull-right rgt-img-margin img-width-200" src="{{ url_for('static', filename='img/main/1.jpg') }}"> {{ _('Vivamus imperdiet condimentum diam, eget placerat felis consectetur id. Donec eget orci metus, Vivamus imperdiet condimentum diam, eget placerat felis consectetur id. Donec eget orci metus, ac adipiscing nunc. Pellentesque fermentum, ante ac interdum ullamcorper. Donec eget orci metus, ac adipiscing nunc. Pellentesque fermentum, consectetur id. Donec eget orci metus, ac adipiscing nunc.') }} <strong>{{ _('Pellentesque fermentum') }}</strong>{{ _(', ante ac interdum ullamcorper. Donec eget orci metus, ac adipiscing nunc. Pellentesque fermentum, ante ac interdum ullamcorper.') }}</p>
                    </div>
                </div>
            </div>

            <div class="margin-bottom-40"></div>

            <div class="row tab-v3">
                <div class="col-sm-3">
                    <ul class="nav nav-pills nav-stacked">
                        <li class="active"><a href="#home-2" data-toggle="tab"><i class="icon-home"></i> {{ _('Home') }}</a></li>
                        <li><a href="#profile-2" data-toggle="tab"><i class="icon-cloud"></i> {{ _('Profile') }}</a></li>
                        <li><a href="#messages-2" data-toggle="tab"><i class="icon-comments"></i> {{ _('Messages') }}</a></li>
                        <li><a href="#settings-2" data-toggle="tab"><i class="icon-gear"></i> {{ _('Settings') }}</a></li>
                    </ul>
                </div>
                <div class="col-sm-9">
                    <div class="tab-content">
                        <div class="tab-pane active" id="home-2">
                            <h4>{{ _('Heading Sample 1') }}</h4>
                            <p>{{ _('Vivamus imperdiet condimentum diam, eget placerat felis consectetur id. Donec eget orci metus, ac adipiscing nunc. Pellentesque fermentum') }} <strong>{{ _('ivamus imperdiet') }}</strong> {{ _('condimentum diam, eget placerat felis consectetur id. Donec eget orci metus, ac adipiscing nunc.') }}</p>
                            <p>{{ _('Pellentesque') }} <strong>{{ _('fermentum vivamus') }}</strong> {{ _('imperdiet condimentum diam, eget placerat felis consectetur id. Donec eget orci metus, ac adipiscing nunc. Pellentesque fermentum, ante ac felis consectetur id. Donec eget orci metusvivamus imperdiet.') }}</p>
                        </div>
                        <div class="tab-pane" id="profile-2">
                            <img alt="" class="pull-left lft-img-margin img-width-200" src="{{ url_for('static', filename='img/main/5.jpg') }}">
                            <h4>{{ _('Heading Sample 2') }}</h4>
                            <p>{{ _('Vivamus imperdiet condimentum diam, eget placerat felis consectetur id. Donec eget orci metus, ac adipiscing nunc. Pellentesque fermentum, ante ac interdum ullamcorper. Donec eget orci metus,') }} <strong>{{ _('ac adipiscing nunc.') }}</strong> {{ _('Vivamus imperdiet condimentum diam, eget placerat felis consectetur id. Donec eget orci metus, ac adipiscing nunc. Pellentesque fermentum, ante ac interdum id. Donec eget orci metus, ac adipiscing nunc. Pellentesque fermentum, ante ac interdum ullamcorper. Donec eget orci metus, ac adipiscing nunc. Pellentesque fermentum, ante ac') }} <strong>{{ _('interdum ullamcorper.') }}</strong></p>
                        </div>
                        <div class="tab-pane" id="messages-2">
                            <h4>{{ _('Heading Sample 3') }}</h4>
                            <p><img alt="" class="pull-right rgt-img-margin img-width-200" src="{{ url_for('static', filename='img/main/6.jpg') }}"> <strong>{{ _('Vivamus imperdiet condimentum diam, eget placerat felis consectetur id.') }}</strong> {{ _('Donec eget orci metus, Vivamus imperdiet condimentum diam, eget placerat felis consectetur id. Donec eget orci metus, ac adipiscing nunc. Pellentesque fermentum, ante ac interdum ullamcorper. Donec eget orci metus, ac adipiscing nunc. Pellentesque fermentum, consectetur id. Donec eget orci metus, ac adipiscing nunc.') }} <strong>{{ _('Pellentesque fermentum') }}</strong>{{ _(', ante ac interdum ullamcorper. Donec eget orci metus, ac adipiscing nunc. Pellentesque fermentum, ante ac interdum ullamcorper.') }}</p>
                        </div>
                        <div class="tab-pane" id="settings-2">
                            <img alt="" class="pull-left lft-img-margin img-width-200" src="{{ url_for('static', filename='img/main/7.jpg') }}">
                            <h4>{{ _('Heading Sample 4') }}</h4>
                            <p>{{ _('Vivamus imperdiet condimentum diam, eget placerat felis consectetur id. Donec eget orci metus, ac adipiscing nunc. Pellentesque fermentum, ante ac interdum ullamcorper. Donec eget orci metus,') }} <strong>{{ _('ac adipiscing nunc.') }}</strong> {{ _('Vivamus imperdiet condimentum diam, eget placerat felis consectetur id. Donec eget orci metus, ac adipiscing nunc. Pellentesque fermentum, ante ac interdum id. Donec eget orci metus, ac adipiscing nunc. Pellentesque fermentum, ante ac interdum ullamcorper. Donec eget orci metus, ac adipiscing nunc. Pellentesque fermentum, ante ac') }} <strong>{{ _('interdum ullamcorper.') }}</strong></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End Content-->
    </div>
</div><!--/container-->
<!--=== End Content Part ===-->
{% endblock %}

{% block js %}
<!-- JS Page Level -->
<script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
    });
</script>
{% endblock %}