{% extends '_base.html' %}

{% set page_title = "Unify | Tables" %}

{% set breadcrumbs = True %}

{% block main_content %}
<!--=== Content Part ===-->
<div class="container">
    <div class="row">
        {% include '_sidebar_nav_menu.html' %}

        <!--Begin Content-->
        <div class="col-md-9">
        	<!--Basic Table-->
			<div class="panel panel-green margin-bottom-40">
				<div class="panel-heading">
					<h3 class="panel-title"><i class="icon-tasks"></i> {{ _('Basic Table') }}</h3>
				</div>
				<div class="panel-body">
					<p>{{ _('Some default panel content here. Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit.') }}</p>
				</div>
				<table class="table">
					<thead>
						<tr>
							<th>{{ _('#') }}</th>
							<th>{{ _('First Name') }}</th>
							<th class="hidden-sm">{{ _('Last Name') }}</th>
							<th>{{ _('Username') }}</th>
							<th>{{ _('Status') }}</th>
						</tr>
					</thead>
					<tbody>
                        {% for user in users %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ user.first_name }}</td>
                            <td class="hidden-sm">{{ user.last_name }}</td>
                            <td>{{ user.username }}</td>
                            <td><span class="label label-{{ user.label_class }}">{{ user.status }}</span></td>
                        </tr>
                        {% endfor %}
					</tbody>
				</table>
			</div>
        	<!--End Basic Table-->

        	<!--Basic Table Option (Spacing)-->
			<div class="panel panel-red margin-bottom-40">
				<div class="panel-heading">
					<h3 class="panel-title"><i class="icon-user"></i> {{ _('Basic Table Option (with space)') }}</h3>
				</div>
				<div class="panel-body">
					<table class="table">
						<thead>
							<tr>
								<th>{{ _('#') }}</th>
								<th>{{ _('First Name') }}</th>
								<th class="hidden-sm">{{ _('Last Name') }}</th>
								<th>{{ _('Username') }}</th>
								<th>{{ _('Status') }}</th>
							</tr>
						</thead>
						<tbody>
                            {% for user in users %}
                            <tr>
								<td>{{ loop.index }}</td>
								<td>{{ user.first_name }}</td>
								<td class="hidden-sm">{{ user.last_name }}</td>
								<td>{{ user.username }}</td>
								<td><button class="btn btn-{{ user.label_class }} btn-xs"><i class="icon-{{ user.icon_class }}"></i> {{ user.icon }}</button></td>
							</tr>
                            {% endfor %}
						</tbody>
					</table>
				</div>
			</div>
        	<!--End Basic Table-->

        	<!--Striped and Hover Rows-->
        	<div class="row">
	        	<!--Striped Rows-->
        		<div class="col-md-6">
					<div class="panel panel-sea margin-bottom-40">
						<div class="panel-heading">
							<h3 class="panel-title"><i class="icon-edit"></i> {{ _('Striped Rows') }}</h3>
						</div>
						<table class="table table-striped">
							<thead>
								<tr>
									<th>{{ _('#') }}</th>
									<th>{{ _('Username') }}</th>
									<th>{{ _('Status') }}</th>
								</tr>
							</thead>
							<tbody>
                                {% for user in users %}
                                <tr>
									<td>{{ loop.index }}</td>
									<td>{{ user.first_name }}</td>
									<td><button class="btn btn-{{ user.label_class }} btn-xs"><i class="icon-{{ user.icon_class }}"></i> {{ user.icon }}</button></td>
								</tr>
                                {% endfor %}
							</tbody>
						</table>
					</div>
        		</div>
	        	<!--End Striped Rows-->

	        	<!--Hover Rows-->
        		<div class="col-md-6">
					<div class="panel panel-yellow margin-bottom-40">
						<div class="panel-heading">
							<h3 class="panel-title"><i class="icon-gear"></i> {{ _('Hover rows') }}</h3>
						</div>
						<table class="table table-hover">
							<thead>
								<tr>
									<th>{{ _('#') }}</th>
									<th>{{ _('Username') }}</th>
									<th>{{ _('Link') }}</th>
								</tr>
							</thead>
							<tbody>
                                {% for user in users %}
                                <tr>
									<td>{{ loop.index }}</td>
									<td>{{ user.first_name }}</td>
									<td><a class="btn btn-{{ user.label_class }} btn-xs">{{ user.status }}</a></td>
								</tr>
                                {% endfor %}
							</tbody>
						</table>
					</div>
        		</div>
	        	<!--End Hover Rows-->
        	</div>
        	<!--End Striped and Hover Rows-->

        	<!--Table Bordered-->
			<div class="panel panel-grey margin-bottom-40">
				<div class="panel-heading">
					<h3 class="panel-title"><i class="icon-globe"></i> {{ _('Table Bordered') }}</h3>
				</div>
				<div class="panel-body">
					<table class="table table-bordered">
						<thead>
							<tr>
								<th>{{ _('#') }}</th>
								<th>{{ _('First Name') }}</th>
								<th class="hidden-sm">{{ _('Last Name') }}</th>
								<th>{{ _('Username') }}</th>
								<th>{{ _('Status') }}</th>
							</tr>
						</thead>
						<tbody>
                            {% for user in users %}
                            <tr>
								<td>{{ loop.index }}</td>
								<td>{{ user.first_name }}</td>
								<td class="hidden-sm">{{ user.last_name }}</td>
								<td>{{ user.username }}</td>
								<td><button class="btn btn-{{ user.label_class }} btn-xs"><i class="icon-{{ user.icon_class }}"></i> {{ user.icon }}</button></td>
							</tr>
                            {% endfor %}
						</tbody>
					</table>
				</div>
			</div>
        	<!--End Table Bordered-->

        	<div class="margin-bottom-60"></div>

			<div class="headline"><h2>{{ _('Table Examples') }}</h2></div>
			<div class="alert alert-warning fade in">
				<button data-dismiss="alert" class="close" type="button">×</button>
				<strong>{{ _('Here is some more examples without portlets') }}</strong> <br>
				{{ _('You can see more table examples from the bootstrap documentation here') }} <a class="alert-link" target="_blank" href="http://getbootstrap.com/css/#tables">{{ _('http://getbootstrap.com/css/#tables') }}</a> .
			</div>

        	<!--Basic Table-->
			<table class="table">
				<thead>
					<tr>
						<th>{{ _('#') }}</th>
						<th>{{ _('First Name') }}</th>
						<th class="hidden-sm">{{ _('Last Name') }}</th>
						<th>{{ _('Username') }}</th>
						<th>{{ _('Status') }}</th>
					</tr>
				</thead>
				<tbody>
                    {% for user in users %}
                    <tr>
						<td>{{ loop.index }}</td>
						<td>{{ user.first_name }}</td>
						<td class="hidden-sm">{{ user.last_name }}</td>
						<td>{{ user.username }}</td>
						<td><span class="label label-{{ user.label_class }}">{{ user.status }}</span></td>
					</tr>
                    {% endfor %}
				</tbody>
			</table>
        	<!--End Basic Table-->

        	<div class="margin-bottom-40"></div>

        	<!--Table Bordered-->
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>{{ _('#') }}</th>
						<th>{{ _('First Name') }}</th>
						<th class="hidden-sm">{{ _('Last Name') }}</th>
						<th>{{ _('Username') }}</th>
						<th>{{ _('Status') }}</th>
					</tr>
				</thead>
				<tbody>
                    {% for user in users %}
                    <tr>
						<td>{{ loop.index }}</td>
						<td>{{ user.first_name }}</td>
						<td class="hidden-sm">{{ user.last_name }}</td>
						<td>{{ user.username }}</td>
						<td><button class="btn btn-{{ user.label_class }} btn-xs"><i class="icon-{{ user.icon_class }}"></i> {{ user.icon }}</button></td>
					</tr>
                    {% endfor %}
				</tbody>
			</table>
        	<!--End Table Bordered-->

        	<div class="margin-bottom-40"></div>

        	<!--Table Striped-->
			<table class="table table-striped">
				<thead>
					<tr>
						<th>{{ _('#') }}</th>
						<th>{{ _('First Name') }}</th>
						<th class="hidden-sm">{{ _('Last Name') }}</th>
						<th>{{ _('Username') }}</th>
						<th>{{ _('Status') }}</th>
					</tr>
				</thead>
				<tbody>
                    {% for user in users %}
                    <tr>
						<td>{{ loop.index }}</td>
						<td>{{ user.first_name }}</td>
						<td class="hidden-sm">{{ user.last_name }}</td>
						<td>{{ user.username }}</td>
						<td><span class="label label-{{ user.label_class }}">{{ user.status }}</span></td>
					</tr>
                    {% endfor %}
				</tbody>
			</table>
        	<!--End Table Striped-->
        </div>
        <!--End Content-->
    </div>
</div><!--/container-->
<!--=== End Content Part ===-->
{% endblock %}

{% block js %}
<!-- JS Page Level -->
<script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
    });
</script>
{% endblock %}