{% extends '_base.html' %}

{% set page_title = "Unify | Testimonials" %}

{% set breadcrumbs = True %}

{% block main_content %}
<!--=== Content Part ===-->
<div class="container">
    <div class="row">
        {% include '_sidebar_nav_menu.html' %}

        <!--Begin Content-->
        <div class="col-md-9">
            <!--Testimonials v1-->
            <div class="margin-bottom-40">
                <div id="testimonials-1" class="carousel slide testimonials testimonials-v1">
                    <div class="carousel-inner">
                        <div class="item active">
                            <p>{{ _('Crasjusto ducimus qui cupiditate non provident, similique sunt in culpaid est anditiis praesentium praesentium blanditiis praesentium non provident, similique sunt in culpaid est anditiis praesentium praesentium..') }}</p>
                            <div class="testimonial-info">
                                <img src="{{ url_for('static', filename='img/testimonials/img1.jpg') }}" alt="">
                                <span class="testimonial-author">
                                    {{ _('Jeremy Asigner') }}
                                    <em>{{ _('Web Developer, Unify Theme.') }}</em>
                                </span>
                            </div>
                        </div>
                        <div class="item">
                            <p>{{ _('Crasjusto ducimus qui cupiditate non provident, similique sunt in culpaid est anditiis praesentium praesentium blanditiis praesentium non provident, similique sunt in culpaid est anditiis praesentium praesentium..') }}</p>
                            <div class="testimonial-info">
                                <img src="{{ url_for('static', filename='img/testimonials/user.jpg') }}" alt="">
                                <span class="testimonial-author">
                                    {{ _('User') }}
                                    <em>{{ _('Java Developer, Htmlstream') }}</em>
                                </span>
                            </div>
                        </div>
                        <div class="item">
                            <p>{{ _('Crasjusto ducimus qui cupiditate non provident, similique sunt in culpaid est anditiis praesentium praesentium blanditiis praesentium non provident, similique sunt in culpaid est anditiis praesentium praesentium..') }}</p>
                            <div class="testimonial-info">
                                <img src="{{ url_for('static', filename='img/testimonials/img2.jpg') }}" alt="">
                                <span class="testimonial-author">
                                    {{ _('Kate Davenport') }}
                                    <em>{{ _('Web Designer, Google Inc.') }}</em>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="carousel-arrow">
                        <a class="left carousel-control" href="#testimonials-1" data-slide="prev">
                            <i class="icon-angle-left"></i>
                        </a>
                        <a class="right carousel-control" href="#testimonials-1" data-slide="next">
                            <i class="icon-angle-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <!--End Testimonials v1-->

            <!--Testimonials v1-->
            <div class="row margin-bottom-40">
                <div class="col-md-6">
                    <div id="testimonials-2" class="carousel slide testimonials testimonials-v1">
                        <div class="carousel-inner">
                            <div class="item active">
                                <p>{{ _('Dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpaid est praesentium..') }}</p>
                                <div class="testimonial-info">
                                    <img src="{{ url_for('static', filename='img/testimonials/user.jpg') }}" alt="">
                                    <span class="testimonial-author">
                                        {{ _('Jeremy Asigner') }}
                                        <em>{{ _('Web Developer, Unify Theme.') }}</em>
                                    </span>
                                </div>
                            </div>
                            <div class="item">
                                <p>{{ _('Cras justo odio, dapibus ac facilisis into egestas. Dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupidinon..') }}</p>
                                <div class="testimonial-info">
                                    <img src="{{ url_for('static', filename='img/testimonials/img1.jpg') }}" alt="">
                                    <span class="testimonial-author">
                                        {{ _('User') }}
                                        <em>{{ _('Java Developer, Htmlstream') }}</em>
                                    </span>
                                </div>
                            </div>
                            <div class="item">
                                <p>{{ _('Justo odioDignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique facilisis into egestas.') }}</p>
                                <div class="testimonial-info">
                                    <img src="{{ url_for('static', filename='img/testimonials/img2.jpg') }}" alt="">
                                    <span class="testimonial-author">
                                        {{ _('Kate Davenport') }}
                                        <em>{{ _('Web Designer, Google Inc.') }}</em>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-arrow">
                            <a class="left carousel-control" href="#testimonials-2" data-slide="prev">
                                <i class="icon-angle-left"></i>
                            </a>
                            <a class="right carousel-control" href="#testimonials-2" data-slide="next">
                                <i class="icon-angle-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div id="testimonials-3" class="carousel slide testimonials testimonials-v1">
                        <div class="carousel-inner">
                            <div class="item active">
                                <p>{{ _('Ducimusqui ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, sunt in culpaid delvoe molestias..') }}</p>
                                <div class="testimonial-info">
                                    <img src="{{ url_for('static', filename='img/testimonials/img2.jpg') }}" alt="">
                                    <span class="testimonial-author">
                                        {{ _('Jeremy Asigner') }}
                                        <em>{{ _('Web Developer, Unify Theme.') }}</em>
                                    </span>
                                </div>
                            </div>
                            <div class="item">
                                <p>{{ _('Ducimusqui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, sunt in culpaid delvoe molestias..') }}</p>
                                <div class="testimonial-info">
                                    <img src="{{ url_for('static', filename='img/testimonials/img1.jpg') }}" alt="">
                                    <span class="testimonial-author">
                                        {{ _('User') }}
                                        <em>{{ _('Java Developer, Htmlstream') }}</em>
                                    </span>
                                </div>
                            </div>
                            <div class="item">
                                <p>{{ _('Ducimusqui ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, sunt in culpaid delvoe molestias..') }}</p>
                                <div class="testimonial-info">
                                    <img src="{{ url_for('static', filename='img/testimonials/user.jpg') }}" alt="">
                                    <span class="testimonial-author">
                                        {{ _('Kate Davenport') }}
                                        <em>{{ _('Web Designer, Google Inc.') }}</em>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-arrow">
                            <a class="left carousel-control" href="#testimonials-3" data-slide="prev">
                                <i class="icon-angle-left"></i>
                            </a>
                            <a class="right carousel-control" href="#testimonials-3" data-slide="next">
                                <i class="icon-angle-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Testimonials v1-->

            <hr class="margin-bottom-50">

            <!--Testimonials v2-->
            <div class="row margin-bottom-40">
                <div class="col-md-8">
                    <div id="testimonials-4" class="carousel slide testimonials testimonials-v2">
                        <div class="carousel-inner">
                            <div class="item active">
                                <p>{{ _('Dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpaid est praesentium..') }}</p>
                                <div class="testimonial-info">
                                    <span class="testimonial-author">
                                        {{ _('Jeremy Asigner') }}
                                        <em>{{ _('Web Developer, Unify Theme.') }}</em>
                                    </span>
                                </div>
                            </div>
                            <div class="item">
                                <p>{{ _('Cras justo odio, dapibus ac facilisis into egestas. Dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupidinon..') }}</p>
                                <div class="testimonial-info">
                                    <span class="testimonial-author">
                                        {{ _('Bootstrap :)') }}
                                        <em>{{ _('Java Developer, Htmlstream') }}</em>
                                    </span>
                                </div>
                            </div>
                            <div class="item">
                                <p>{{ _('Justo odioDignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique facilisis into egestas.') }}</p>
                                <div class="testimonial-info">
                                    <span class="testimonial-author">
                                        {{ _('Kate Davenport') }}
                                        <em>{{ _('Web Designer, Google Inc.') }}</em>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-arrow">
                            <a class="left carousel-control" href="#testimonials-4" data-slide="prev">
                                <i class="icon-angle-left"></i>
                            </a>
                            <a class="right carousel-control" href="#testimonials-4" data-slide="next">
                                <i class="icon-angle-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div id="testimonials-5" class="carousel slide testimonials testimonials-v2">
                        <div class="carousel-inner">
                            <div class="item active">
                                <p>{{ _('Dignissimos similique sunt in ducimus qui blanditiis praesentium voluptatum delvoe molestias..') }}</p>
                                <div class="testimonial-info">
                                    <span class="testimonial-author">
                                        {{ _('Jeremy Asigner') }}
                                        <em>{{ _('Web Developer, Unify Theme.') }}</em>
                                    </span>
                                </div>
                            </div>
                            <div class="item">
                                <p>{{ _('Dignissimos similique sunt in ducimus qui blanditiis praesentium voluptatum delvoe molestias..') }}</p>
                                <div class="testimonial-info">
                                    <span class="testimonial-author">
                                        {{ _('User') }}
                                        <em>{{ _('Java Developer, Htmlstream') }}</em>
                                    </span>
                                </div>
                            </div>
                            <div class="item">
                                <p>{{ _('Dignissimos similique sunt in ducimus qui blanditiis praesentium voluptatum delvoe molestias..') }}</p>
                                <div class="testimonial-info">
                                    <span class="testimonial-author">
                                        {{ _('Kate Davenport') }}
                                        <em>{{ _('Web Designer, Google Inc.') }}</em>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Testimonials v2-->
        </div>
        <!--End Content-->
    </div>
</div><!--/container-->
<!--=== End Content Part ===-->
{% endblock %}

{% block js %}
<!-- JS Implementing Plugins -->
<script type="text/javascript" src="{{ url_for('static', filename='plugins/flexslider/jquery.flexslider-min.js') }}"></script>
<!-- JS Page Level -->
<script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
        App.initSliders();
    });
</script>
{% endblock %}