{% extends '_base.html' %}

{% set page_title = "Unify | Components" %}

{% set breadcrumbs = True %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='plugins/fancybox/source/jquery.fancybox.css') }}">
{% endblock %}

{% block main_content %}
<!--=== Content Part ===-->
<div class="container">
    <div class="row">
        {% include '_sidebar_nav_menu.html' %}

        <!--Begin Content-->
        <div class="col-md-9">
            <!--Alert Messages-->
            <div class="alert alert-warning fade in">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>{{ _('Warning!') }}</strong> {{ _("Best check yo self, you're not looking too good.") }}
            </div>
            <div class="alert alert-danger fade in">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>{{ _('Oh snap!') }}</strong> {{ _('Change a few things up and try submitting again.') }}
            </div>
            <div class="alert alert-success">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>{{ _('Well done!') }}</strong> {{ _('Change a few things up and try submitting again.') }}
            </div>
            <div class="alert alert-info">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>{{ _('Heads up!') }}</strong> {{ _('Change a few things up and try submitting again.') }}
            </div>
            <!--End Alert Messages-->

            <div class="clearfix margin-bottom-20"></div>

            <!--Alert Block Messages-->
            <div class="headline"><h2>{{ _('Alerts Blocks') }}</h2></div>
            <div class="alert alert-block alert-danger fade in">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h4>{{ _('Oh snap! You got an error!') }}</h4>
                <p>{{ _('Change this and that and try again. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum.') }}</p>
                <p>
                    <a class="btn-u btn-u-red" href="#">{{ _('Take this action') }}</a> <a class="btn-u btn-u-sea" href="#">{{ _('Or do this') }}</a>
                </p>
            </div>
            <div class="alert alert-success">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <h4>{{ _('Well done!') }}</h4>
                {{ _('At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.') }}
            </div>
            <!--End Alert Block Messages-->

            <div class="clearfix margin-bottom-20"></div>

            <div class="headline"><h2>{{ _('Panels') }}</h2></div>
            <p>{{ _('By default, all the') }} <code>{{ _('.panel') }}</code> {{ _('does is apply some basic border and padding to contain some content. Easily add a heading container to your panel with') }} <code>{{ _('.panel-heading') }}</code>{{ _('. You may also include any <code>h1- h6</code> with a <code>.panel-title</code> class to add a pre-styled heading.') }}</p><br>

            <div class="row margin-bottom-20">
                <div class="col-md-6">
                    <!--Grey Panels-->
                    <div class="panel panel-grey">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="icon-tasks"></i> {{ _('Grey Panel') }}</h3>
                        </div>
                        <div class="panel-body">
                            <h4>{{ _('Accusamus et iusto odio') }}</h4>
                            <p>{{ _('At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.') }}</p>
                        </div>
                    </div>
                    <!--End Grey Panels-->
                </div>
                <div class="col-md-6">
                    <!--Red Panels-->
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="icon-tasks"></i> {{ _('Grey Panel') }}</h3>
                        </div>
                        <div class="panel-body">
                            <h4>{{ _('Accusamus et iusto odio') }}</h4>
                            <p>{{ _('At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.') }}</p>
                        </div>
                    </div>
                    <!--End Red Panels-->
                </div>
            </div>

            <div class="row margin-bottom-20">
                <div class="col-md-6">
                    <!--Blue Panels-->
                    <div class="panel panel-blue">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="icon-tasks"></i> {{ _('Blue Panel') }}</h3>
                        </div>
                        <div class="panel-body">
                            <h4>{{ _('Accusamus et iusto odio') }}</h4>
                            <p>{{ _('At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.') }}</p>
                        </div>
                    </div>
                    <!--End Blue Panels-->
                </div>
                <div class="col-md-6">
                    <!--Sea Panels-->
                    <div class="panel panel-sea">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="icon-tasks"></i> {{ _('Sea Panel') }}</h3>
                        </div>
                        <div class="panel-body">
                            <h4>{{ _('Accusamus et iusto odio') }}</h4>
                            <p>{{ _('At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.') }}</p>
                        </div>
                    </div>
                    <!--End Sea Panels-->
                </div>
            </div>

            <div class="row margin-bottom-20">
                <div class="col-md-6">
                    <!--Green Panels-->
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="icon-tasks"></i> {{ _('Green Panel') }}</h3>
                        </div>
                        <div class="panel-body">
                            <h4>{{ _('Accusamus et iusto odio') }}</h4>
                            <p>{{ _('At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.') }}</p>
                        </div>
                    </div>
                    <!--End Green Panels-->
                </div>
                <div class="col-md-6">
                    <!--Orange Panels-->
                    <div class="panel panel-orange">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="icon-tasks"></i> {{ _('Orange Panel') }}</h3>
                        </div>
                        <div class="panel-body">
                            <h4>{{ _('Accusamus et iusto odio') }}</h4>
                            <p>{{ _('At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.') }}</p>
                        </div>
                    </div>
                    <!--End Orange Panels-->
                </div>
            </div>

            <div class="row margin-bottom-20">
                <div class="col-md-6">
                    <!--Yellow Panels-->
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="icon-tasks"></i> {{ _('Yellow Panel') }}</h3>
                        </div>
                        <div class="panel-body">
                            <h4>{{ _('At vero eos et accusamus et') }}</h4>
                            <p>{{ _('At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.') }}</p>
                        </div>
                    </div>
                    <!--End Yellow Panels-->
                </div>
                <div class="col-md-6">
                    <!--Default Panels-->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="icon-tasks"></i> {{ _('Default Panel') }}</h3>
                        </div>
                        <div class="panel-body">
                            <h4>{{ _('Default Bootstrap Panel') }}</h4>
                            <p>{{ _('At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.') }}</p>
                        </div>
                    </div>
                    <!--End Default Panels-->
                </div>
            </div>

            <div class="row margin-bottom-20">
                <div class="col-md-6">
                    <!--Info Panels-->
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="icon-tasks"></i> {{ _('Info Panel') }}</h3>
                        </div>
                        <div class="panel-body">
                            <h4>{{ _('Default Bootstrap Panel') }}</h4>
                            <p>{{ _('At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.') }}</p>
                        </div>
                    </div>
                    <!--End Info Panels-->
                </div>
                <div class="col-md-6">
                    <!--Success Panels-->
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="icon-tasks"></i> {{ _('Success Panel') }}</h3>
                        </div>
                        <div class="panel-body">
                            <h4>{{ _('Default Bootstrap Panel') }}</h4>
                            <p>{{ _('At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.') }}</p>
                        </div>
                    </div>
                    <!--End Success Panels-->
                </div>
            </div>

            <div class="row margin-bottom-20">
                <div class="col-md-6">
                    <!--Warning Panels-->
                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="icon-tasks"></i> {{ _('Warning Panel') }}</h3>
                        </div>
                        <div class="panel-body">
                            <h4>{{ _('Default Bootstrap Panel') }}</h4>
                            <p>{{ _('At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.') }}</p>
                        </div>
                    </div>
                    <!--End Warning Panels-->
                </div>
                <div class="col-md-6">
                    <!--Danger Panels-->
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="icon-tasks"></i> {{ _('Danger Panel') }}</h3>
                        </div>
                        <div class="panel-body">
                            <h4>{{ _('Default Bootstrap Panel') }}</h4>
                            <p>{{ _('At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.') }}</p>
                        </div>
                    </div>
                    <!--End Danger Panels-->
                </div>
            </div>

            <!--Labels & Progress Bars-->
            <div class="row margin-bottom-30">
                <div class="col-md-6">
                    <div class="headline"><h2>{{ _('Labels') }} </h2></div>
                    <p>
                        <span class="label label-default">{{ _('1') }}</span>
                        <span class="label label-danger">{{ _('2') }}</span>
                        <span class="label label-info">{{ _('3') }}</span>
                        <span class="label label-warning">{{ _('4') }}</span>
                        <span class="label label-success">{{ _('5') }}</span>
                    </p>
                    <p>
                        <span class="label label-default">{{ _('Default') }}</span>
                        <span class="label label-success">{{ _('Success') }}</span>
                        <span class="label label-warning">{{ _('Warning') }}</span>
                        <span class="label label-danger">{{ _('Important') }}</span>
                        <span class="label label-info">{{ _('Info') }}</span>
                    </p>

                    <p>
                        <span class="label label-warning"><i class="icon-bookmark"></i> {{ _('At vero eos et sunt') }}</span>
                        <span class="label label-info"><i class="icon-asterisk"></i> {{ _('Similique atin culpa') }}</span>
                        <span class="label label-success"><i class="icon-flag"></i> {{ _('Voluptatum deleniti') }}</span>
                    </p>
                    <p>
                        <span class="label label-danger"><i class="icon-cloud"></i> {{ _('At vero eos et sunt') }}</span>
                        <span class="label label-success"><i class="icon-coffee"></i> {{ _('Similique atin culpa') }}</span>
                        <span class="label label-default"><i class="icon-envelope-alt"></i> {{ _('Icon-envelope-alt') }}</span>
                    </p>

                    <p class="muted">
                        <span class="label label-default"><i class="icon-comments"></i></span>
                        <strong>{{ _('dignissimos et ducimus similique sunt') }}</strong>
                    </p>
                    <p class="text-success">
                        <span class="label label-success"><i class="icon-bell-alt"></i></span>
                        <strong>{{ _('Similique sunt dignissimos et ducimus') }}</strong>
                    </p>
                    <p class="text-warning">
                        <span class="label label-warning"><i class="icon-ok"></i></span>
                        <strong>{{ _('Similique sunt in culpa qui mollitia') }}</strong>
                    </p>
                    <p>
                        <span class="label label-danger"><i class="icon-leaf"></i></span>
                        <strong>{{ _('At vero eos eto roficia qui ') }}</strong>
                    </p>
                    <p class="text-info">
                        <span class="label label-info"><i class="icon-volume-up"></i></span>
                        <strong>{{ _('Officia qui deserunt in culpa qui') }}</strong>
                    </p>
                </div><!--/col-md-6-->

                <div class="col-md-6">
                    <div class="headline"><h2>{{ _('Progress Bars') }}</h2></div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                        <span class="sr-only">{{ _('40%% Complete (success)') }}</span>
                        </div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                        <span class="sr-only">{{ _('20%% Complete') }}</span>
                        </div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                        <span class="sr-only">{{ _('60%% Complete (warning)') }}</span>
                        </div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                        <span class="sr-only">{{ _('80%% Complete') }}</span>
                        </div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" style="width: 40%">
                            <span class="sr-only">{{ _('40%% Complete (success)') }}</span>
                        </div>
                        <div class="progress-bar progress-bar-warning" style="width: 30%">
                            <span class="sr-only">{{ _('30%% Complete (warning)') }}</span>
                        </div>
                        <div class="progress-bar progress-bar-danger" style="width: 20%">
                            <span class="sr-only">{{ _('20%% Complete (danger)') }}</span>
                        </div>
                    </div>
                    <div class="progress progress-striped active">
                        <div class="progress-bar"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
                        <span class="sr-only">{{ _('45%% Complete') }}</span>
                        </div>
                    </div>
                    <div class="progress progress-striped">
                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                        <span class="sr-only">{{ _('80%% Complete (danger)') }}</span>
                        </div>
                    </div>
                    <div class="progress progress-striped">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                        <span class="sr-only">{{ _('40%% Complete (success)') }}</span>
                        </div>
                    </div>
                </div><!--/col-md-6-->
            </div><!--/row-->
            <!--End Labels & Progress Bars-->

            <!--Progress Bars (full width)-->
            <div class="headline"><h2>{{ _('Progress Bars (full width)') }}</h2></div>
            <div class="progress progress-striped">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                    <span class="sr-only">{{ _('40%% Complete (success)') }}</span>
                </div>
            </div>
            <div class="progress progress-striped">
                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                    <span class="sr-only">{{ _('20%% Complete') }}</span>
                </div>
            </div>
            <div class="progress progress-striped">
                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                    <span class="sr-only">{{ _('60%% Complete (warning)') }}</span>
                </div>
            </div>
            <div class="progress progress-striped active">
                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                    <span class="sr-only">{{ _('80%% Complete (danger)') }}</span>
                </div>
            </div>
            <!--End Progress Bars (full width)-->
        </div>
        <!--End Content-->
    </div>
</div><!--/container-->
<!--=== End Content Part ===-->
{% endblock %}

{% block js %}
<!-- JS Page Level -->
<script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
    });
</script>
{% endblock %}