{% extends '_base.html' %}

{% set page_title = "Unify | Tagline Boxes" %}

{% set breadcrumbs = True %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='plugins/fancybox/source/jquery.fancybox.css') }}">
{% endblock %}

{% block main_content %}
<!--=== Content Part ===-->
<div class="container">
    <div class="row">
        {% include '_sidebar_nav_menu.html' %}

        <!--Begin Content-->
        <div class="col-md-9">
            <!--Tag Box v1-->
            <div class="tag-box tag-box-v1">
                <p>{{ _('Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet consectetur adipiscing elit. Ut non libero consectetur adipiscing elit magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat.') }}</p>
            </div>
            <!--End Tag Box v1-->

            <!--Tag Box v2-->
            <div class="tag-box tag-box-v2">
                <p>{{ _('Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet consectetur adipiscing elit. Ut non libero consectetur adipiscing elit magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat.') }}</p>
            </div>
            <!--End Tag Box v2-->

            <div class="row">
                <div class="col-md-6">
                    <div class="tag-box tag-box-v3">
                        <h2>{{ _('Expedita distinctio lorem ipsum!') }}</h2>
                        <p>{{ _('Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet consectetur adipiscing elit. Ut non libero consectetur adipiscing elit magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat.') }}</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="tag-box tag-box-v2">
                        <h2>{{ _('Expedita distinctio lorem ipsum!') }}</h2>
                        <p>{{ _('Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet consectetur adipiscing elit. Ut non libero consectetur adipiscing elit magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat.') }}</p>
                    </div>
                </div>
            </div>

            <!--Tag Box v4-->
            <div class="tag-box tag-box-v4">
                <h2>{{ _('Consectetur adipiscing elit harum quidem rerum magnaed et quam lacus') }}</h2>
                <p>{{ _('Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet consectetur adipiscing elit. Ut non libero consectetur adipiscing elit magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat.') }}</p>
            </div>
            <!--End Tag Box v4-->

            <!--Tag Box v5-->
            <div class="row tag-box tag-box-v5">
                <div class="col-md-8">
                    <span>{{ _('Accusamus et odio ducimus quiatfus?') }}</span>
                </div>
                <div class="col-md-4">
                    <p><button class="btn-u btn-u-lg btn-u-red"><i class="icon-cloud-download"></i> {{ _('Download Now') }}</button></p>
                </div>
            </div>
            <!--End Tag Box v5-->

            <div class="row">
                <div class="col-md-6">
                    <!--Tag Box v6-->
                    <div class="tag-box tag-box-v6">
                        <h2>{{ _('Fusce condimentum eleifend enim a ditailis estf eugiat...') }}</h2>
                        <p>{{ _('Et harum quidem rerum facexpe ditailis est et  distinctio lorem ipsum dolor sit amet consectetur adipiscing elit. Ut non libero consectetur adipiscing elit ellentesque viverra vehicu. Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor...') }}</p>
                    </div>
                    <!--End Tag Box v6-->
                </div>

                <div class="col-md-6">
                    <!--Tag Box v7-->
                    <div class="tag-box tag-box-v7">
                        <h2>{{ _('Expedita distinctio lorem ipsum dolor sit amet consectetur!') }}</h2>
                        <p>{{ _('Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet consectetur adipiscing elit. Ut non libero consectetur adipiscing elit ellentesque viverra vehicu. Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor...') }}</p>
                    </div>
                    <!--End Tag Box v7-->
                </div>
            </div>
        </div>
        <!--End Content-->
    </div>
</div><!--/container-->
<!--=== End Content Part ===-->
{% endblock %}

{% block js %}
<!-- JS Page Level -->
<script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
    });
</script>
{% endblock %}