{% extends '_base.html' %}

{% set page_title = "Unify | Thumbnails" %}

{% set breadcrumbs = True %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='plugins/fancybox/source/jquery.fancybox.css') }}">
{% endblock %}

{% block main_content %}
<!--=== Content Part ===-->
<div class="container">
    <div class="row">
        {% include '_sidebar_nav_menu.html' %}

        <!--Begin Content-->
        <div class="col-md-9">
            <!-- Thumbnails v1 -->
            <div class="row">
                <div class="col-md-4">
                    <div class="thumbnails thumbnail-style thumbnail-kenburn">
                        <div class="thumbnail-img">
                            <div class="overflow-hidden">
                                <img class="img-responsive" src="{{ url_for('static', filename='img/main/2.jpg') }}" alt="" />
                            </div>
                            <a class="btn-more hover-effect" href="#">{{ _('read more +') }}</a>
                        </div>
                        <div class="caption">
                            <h3><a class="hover-effect" href="#">{{ _('Project One') }}</a></h3>
                            <p>{{ _('Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.') }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnails thumbnail-style thumbnail-kenburn">
                        <div class="thumbnail-img">
                            <div class="overflow-hidden">
                                <img class="img-responsive" src="{{ url_for('static', filename='img/main/3.jpg') }}" alt="" />
                            </div>
                            <a class="btn-more hover-effect" href="#">{{ _('read more +') }}</a>
                        </div>
                        <div class="caption">
                            <h3><a class="hover-effect" href="#">{{ _('Project Two') }}</a></h3>
                            <p>{{ _('Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.') }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnails thumbnail-style thumbnail-kenburn">
                        <div class="thumbnail-img">
                            <div class="overflow-hidden">
                                <img class="img-responsive" src="{{ url_for('static', filename='img/main/9.jpg') }}" alt="" />
                            </div>
                            <a class="btn-more hover-effect" href="#">{{ _('read more +') }}</a>
                        </div>
                        <div class="caption">
                            <h3><a class="hover-effect" href="#">{{ _('Project Three') }}</a></h3>
                            <p>{{ _('Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.') }}</p>
                        </div>
                    </div>
                </div>
            </div><!--/row-->
            <!-- End Thumbnails v1 -->

            <hr class="margin-bottom-30">

            <!-- Thumbnails v2 -->
            <div class="alert alert-warning fade in">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <strong>{{ _('Info!') }}</strong> {{ _('Here are without hover effect') }}
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="thumbnails thumbnail-style">
                        <img class="img-responsive" src="{{ url_for('static', filename='img/main/8.jpg') }}" alt="" />
                        <div class="caption">
                            <h3><a class="hover-effect" href="#">{{ _('Project One') }}</a></h3>
                            <p>{{ _('Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.') }}</p>
                            <p><a href="#" class="btn-u btn-u-small">{{ _('Read more') }}</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnails thumbnail-style">
                        <img class="img-responsive" src="{{ url_for('static', filename='img/main/1.jpg') }}" alt="" />
                        <div class="caption">
                            <h3><a class="hover-effect" href="#">{{ _('Project Two') }}</a></h3>
                            <p>{{ _('Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.') }}</p>
                            <p><a href="#" class="btn-u btn-u-small">{{ _('Read more') }}</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnails thumbnail-style">
                        <img class="img-responsive" src="{{ url_for('static', filename='img/main/6.jpg') }}" alt="" />
                        <div class="caption">
                            <h3><a class="hover-effect" href="#">{{ _('Project Three') }}</a></h3>
                            <p>{{ _('Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.') }}</p>
                            <p><a href="#" class="btn-u btn-u-small">{{ _('Read more') }}</a></p>
                        </div>
                    </div>
                </div>
            </div><!--/row-->
            <!-- End Thumbnails v2 -->

            <hr class="margin-bottom-30">

            <!-- Thumbnails v3 -->
            <div class="alert alert-info fade in">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <strong>{{ _('Heads up!') }}</strong> {{ _('Thumbnails with Fancybox') }}
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="thumbnails thumbnail-style">
                        <a class="fancybox-button zoomer" data-rel="fancybox-button" title="Project #1" href="{{ url_for('static', filename='img/main/9.jpg') }}">
                            <span class="overlay-zoom">
                                <img class="img-responsive" src="{{ url_for('static', filename='img/main/9.jpg') }}" alt="" />
                                <div class="zoom-icon"></div>
                            </span>
                        </a>
                        <div class="caption">
                            <h3><a class="hover-effect" href="#">{{ _('Project One') }}</a></h3>
                            <p>{{ _('Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.') }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnails thumbnail-style">
                        <a class="fancybox-button zoomer" data-rel="fancybox-button" title="Project #2" href="{{ url_for('static', filename='img/main/3.jpg') }}">
                            <span class="overlay-zoom">
                                <img class="img-responsive" src="{{ url_for('static', filename='img/main/3.jpg') }}" alt="" />
                                <div class="zoom-icon"></div>
                            </span>
                        </a>
                        <div class="caption">
                            <h3><a class="hover-effect" href="#">{{ _('Project Two') }}</a></h3>
                            <p>{{ _('Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.') }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnails thumbnail-style">
                        <a class="fancybox-button zoomer" data-rel="fancybox-button" title="Project #3" href="{{ url_for('static', filename='img/main/10.jpg') }}">
                            <span class="overlay-zoom">
                                <img class="img-responsive" src="{{ url_for('static', filename='img/main/10.jpg') }}" alt="" />
                                <div class="zoom-icon"></div>
                            </span>
                        </a>
                        <div class="caption">
                            <h3><a class="hover-effect" href="#">{{ _('Project Three') }}</a></h3>
                            <p>{{ _('Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.') }}</p>
                        </div>
                    </div>
                </div>
            </div><!--/row-->
            <!-- End Thumbnails v3 -->

            <hr class="margin-bottom-30">

            <!-- Thumbnails v4 -->
            <div class="alert alert-success fade in">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <strong>{{ _('Heads up!') }}</strong> {{ _('Here are Default Thumbnails examples with Fancybox') }}
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="thumbnail">
                        <a class="fancybox-button zoomer" data-rel="fancybox-button" title="Project #1" href="{{ url_for('static', filename='img/main/1.jpg') }}">
                            <span class="overlay-zoom">
                                <img class="img-responsive" src="{{ url_for('static', filename='img/main/1.jpg') }}" alt="" />
                                <div class="zoom-icon"></div>
                            </span>
                        </a>
                        <div class="caption">
                            <h3><a class="hover-effect" href="#">{{ _('Project One') }}</a></h3>
                            <p>{{ _('Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.') }}</p>
                            <p><a href="#" class="btn-u btn-u-small">{{ _('Read more') }}</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="thumbnail">
                        <a class="fancybox-button zoomer" data-rel="fancybox-button" title="Project #2" href="{{ url_for('static', filename='img/main/2.jpg') }}">
                            <span class="overlay-zoom">
                                <img class="img-responsive" src="{{ url_for('static', filename='img/main/2.jpg') }}" alt="" />
                                <div class="zoom-icon"></div>
                            </span>
                        </a>
                        <div class="caption">
                            <h3><a class="hover-effect" href="#">{{ _('Project Two') }}</a></h3>
                            <p>{{ _('Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.') }}</p>
                            <p><a href="#" class="btn-u btn-u-small">{{ _('Read more') }}</a></p>
                        </div>
                    </div>
                </div>
            </div><!--/row-->
            <!-- End Thumbnails v4 -->
        </div>
        <!--End Content-->
    </div>
</div><!--/container-->
<!--=== End Content Part ===-->
{% endblock %}

{% block js %}
<!-- JS Page Level -->
<script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
    });
</script>
{% endblock %}