{% extends '_base.html' %}

{% set page_title = "Unify | Funny Boxes" %}

{% set breadcrumbs = True %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/pages/page_search.css') }}">
{% endblock %}

{% block main_content %}
<!--=== Content Part ===-->
<div class="container">
    <!-- Funny Boxes -->
    <div class="search-page">
        <div class="alert alert-block alert-warning fade in">
            <button data-dismiss="alert" class="close" type="button">×</button>
            <h4>{{ _('Info!') }}</h4>
            {{ _('At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.') }}
        </div>

        <p class="margin-bottom-20">{{ _('Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero consectetur adipiscing elit magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat. Lorem ipsum dolor sit amet.') }}</p>

        <!--Search Block-->
        <div class="row">
            <div class="col-md-6">
                <div class="search-blocks search-blocks-colored search-blocks-grey">
                    <div class="row">
                        <div class="col-md-4 search-img">
                            <img class="img-responsive" src="{{ url_for('static', filename='img/new/img1.jpg') }}" alt="">
                            <ul class="list-unstyled">
                               <li><i class="icon-briefcase"></i> {{ _('Dell, Google') }}</li>
                               <li><i class="icon-map-marker"></i> {{ _('New York, US') }}</li>
                            </ul>
                        </div>
                        <div class="col-md-8">
                            <h2><a href="#">{{ _('Grey Box') }}</a></h2>
                            <ul class="list-unstyled search-rating">
                               <li><i class="icon-star"></i></li>
                               <li><i class="icon-star"></i></li>
                               <li><i class="icon-star"></i></li>
                               <li><i class="icon-star"></i></li>
                               <li><i class="icon-star"></i></li>
                            </ul>
                            <p>{{ _('At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum.') }}</p>
                            <a href="#" class="btn-u btn-u-red">{{ _('read more') }}</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="search-blocks search-blocks-colored search-blocks-sea">
                    <div class="row">
                        <div class="col-md-4 search-img">
                            <img class="img-responsive" src="{{ url_for('static', filename='img/new/img1.jpg') }}" alt="">
                            <ul class="list-unstyled">
                               <li><i class="icon-briefcase"></i> {{ _('Dell, Google') }}</li>
                               <li><i class="icon-map-marker"></i> {{ _('New York, US') }}</li>
                            </ul>
                        </div>
                        <div class="col-md-8">
                            <h2><a href="#">{{ _('Sea Box') }}</a></h2>
                            <ul class="list-unstyled search-rating">
                               <li><i class="icon-star"></i></li>
                               <li><i class="icon-star"></i></li>
                               <li><i class="icon-star"></i></li>
                               <li><i class="icon-star"></i></li>
                               <li><i class="icon-star"></i></li>
                            </ul>
                            <p>{{ _('At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum.') }}</p>
                            <a href="#" class="btn-u btn-u-yellow">{{ _('read more') }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/row-->
        <div class="row">
            <div class="col-md-6">
                <div class="search-blocks search-blocks-top-sea">
                    <div class="row">
                        <div class="col-md-4 search-img">
                            <img class="img-responsive" src="{{ url_for('static', filename='img/new/img1.jpg') }}" alt="">
                            <ul class="list-unstyled">
                               <li><i class="icon-briefcase"></i> {{ _('Dell, Google') }}</li>
                               <li><i class="icon-map-marker"></i> {{ _('New York, US') }}</li>
                            </ul>
                        </div>
                        <div class="col-md-8">
                            <h2><a href="#">{{ _('Sea Bordered Box') }}</a></h2>
                            <ul class="list-unstyled search-rating">
                               <li><i class="icon-star"></i></li>
                               <li><i class="icon-star"></i></li>
                               <li><i class="icon-star"></i></li>
                               <li><i class="icon-star"></i></li>
                               <li><i class="icon-star"></i></li>
                            </ul>
                            <p>{{ _('At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum.') }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="search-blocks search-blocks-top-yellow">
                    <div class="row">
                        <div class="col-md-4 search-img">
                            <img class="img-responsive" src="{{ url_for('static', filename='img/new/img1.jpg') }}" alt="">
                            <ul class="list-unstyled">
                               <li><i class="icon-briefcase"></i> {{ _('Dell, Google') }}</li>
                               <li><i class="icon-map-marker"></i> {{ _('New York, US') }}</li>
                            </ul>
                        </div>
                        <div class="col-md-8">
                            <h2><a href="#">{{ _('Yellow Bordered Box') }}</a></h2>
                            <ul class="list-unstyled search-rating">
                               <li><i class="icon-star"></i></li>
                               <li><i class="icon-star"></i></li>
                               <li><i class="icon-star"></i></li>
                               <li><i class="icon-star"></i></li>
                               <li><i class="icon-star"></i></li>
                            </ul>
                            <p>{{ _('At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum.') }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/row-->
        <div class="row">
            <div class="col-md-6">
                <div class="search-blocks search-blocks-colored search-blocks-red">
                    <div class="row">
                        <div class="col-md-4 search-img">
                            <img class="img-responsive" src="{{ url_for('static', filename='img/new/img1.jpg') }}" alt="">
                            <ul class="list-unstyled">
                               <li><i class="icon-briefcase"></i> {{ _('Dell, Google') }}</li>
                               <li><i class="icon-map-marker"></i> {{ _('New York, US') }}</li>
                            </ul>
                        </div>
                        <div class="col-md-8">
                            <h2><a href="#">{{ _('Red Box') }}</a></h2>
                            <ul class="list-unstyled search-rating">
                               <li><i class="icon-star"></i></li>
                               <li><i class="icon-star"></i></li>
                               <li><i class="icon-star"></i></li>
                               <li><i class="icon-star"></i></li>
                               <li><i class="icon-star"></i></li>
                            </ul>
                            <p>{{ _('At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum.') }}</p>
                            <a href="#" class="btn-u btn-u-blue">{{ _('read more') }}</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="search-blocks search-blocks-colored search-blocks-blue">
                    <div class="row">
                        <div class="col-md-4 search-img">
                            <img class="img-responsive" src="{{ url_for('static', filename='img/new/img1.jpg') }}" alt="">
                            <ul class="list-unstyled">
                               <li><i class="icon-briefcase"></i> {{ _('Dell, Google') }}</li>
                               <li><i class="icon-map-marker"></i> {{ _('New York, US') }}</li>
                            </ul>
                        </div>
                        <div class="col-md-8">
                            <h2><a href="#">{{ _('Red Blue') }}</a></h2>
                            <ul class="list-unstyled search-rating">
                               <li><i class="icon-star"></i></li>
                               <li><i class="icon-star"></i></li>
                               <li><i class="icon-star"></i></li>
                               <li><i class="icon-star"></i></li>
                               <li><i class="icon-star"></i></li>
                            </ul>
                            <p>{{ _('At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum.') }}</p>
                            <a href="#" class="btn-u btn-u-red">{{ _('read more') }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/row-->
        <div class="row">
            <div class="col-md-6">
                <div class="search-blocks search-blocks-left-green">
                    <div class="row">
                        <div class="col-md-4 search-img">
                            <img class="img-responsive" src="{{ url_for('static', filename='img/new/img1.jpg') }}" alt="">
                            <ul class="list-unstyled">
                               <li><i class="icon-briefcase"></i> {{ _('Dell, Google') }}</li>
                               <li><i class="icon-map-marker"></i> {{ _('New York, US') }}</li>
                            </ul>
                        </div>
                        <div class="col-md-8">
                            <h2><a href="#">{{ _('Green Bordered Block') }}</a></h2>
                            <ul class="list-unstyled search-rating">
                               <li><i class="icon-star"></i></li>
                               <li><i class="icon-star"></i></li>
                               <li><i class="icon-star"></i></li>
                               <li><i class="icon-star"></i></li>
                               <li><i class="icon-star"></i></li>
                            </ul>
                            <p>{{ _('At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum.') }}</p>
                            <a href="#" class="btn-u btn-u-sea">{{ _('read more') }}</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="search-blocks search-blocks-left-orange">
                    <div class="row">
                        <div class="col-md-4 search-img">
                            <img class="img-responsive" src="{{ url_for('static', filename='img/new/img1.jpg') }}" alt="">
                            <ul class="list-unstyled">
                               <li><i class="icon-briefcase"></i> {{ _('Dell, Google') }}</li>
                               <li><i class="icon-map-marker"></i> {{ _('New York, US') }}</li>
                            </ul>
                        </div>
                        <div class="col-md-8">
                            <h2><a href="#">{{ _('Orange Bordered Box') }}</a></h2>
                            <ul class="list-unstyled search-rating">
                               <li><i class="icon-star"></i></li>
                               <li><i class="icon-star"></i></li>
                               <li><i class="icon-star"></i></li>
                               <li><i class="icon-star"></i></li>
                               <li><i class="icon-star"></i></li>
                            </ul>
                            <p>{{ _('At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum.') }}</p>
                            <a href="#" class="btn-u btn-u-yellow">{{ _('read more') }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/row-->
        <!--End Search Block-->
    </div><!--/search-page-->
    <!-- End Funny Boxes -->
</div><!--/container-->
<!--=== End Content Part ===-->
{% endblock %}

{% block js %}
<!-- JS Page Level -->
<script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
    });
</script>
{% endblock %}