{% extends '_base.html' %}

{% set page_title = "Unify | 404 Error" %}

{% set disable_header = True %}
{% set disable_footer = True %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/pages/page_404_error1.css') }}">
{% endblock %}

{% block main_content %}
<!--=== Content Part ===-->
<div class="container">
    <!--Error Block-->
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="error-v2">
                <span class="error-v2-title">{{ _('404') }}</span>
                <span>{{ _('That’s an error!') }}</span>
                <p>{{ _('The requested URL was not found on this server.') }} <br> {{ _('That’s all we know.') }}</p>
            </div>
        </div>
    </div>
    <!--End Error Block-->
</div><!--/container-->
<!--=== End Content Part ===-->
{% endblock %}

{% block js %}
<!-- JS Implementing Plugins -->
<script type="text/javascript" src="{{ url_for('static', filename='plugins/countdown/jquery.countdown.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='plugins/backstretch/jquery.backstretch.min.js') }}"></script>
<!-- JS Page Level -->
<script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
    });
</script>
<script type="text/javascript">
    $.backstretch([
      "{{ url_for('static', filename='img/bg/4.jpg') }}",
      "{{ url_for('static', filename='img/bg/8.jpg') }}",
      "{{ url_for('static', filename='img/bg/5.jpg') }}",
      ], {
        fade: 1000,
        duration: 7000
    });
</script>
{% endblock %}