{% extends '_base.html' %}

{% set page_title = "Unify | Pricing" %}

{% set breadcrumbs = True %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/pages/page_pricing.css') }}">
{% endblock %}

{% block main_content %}
<!--=== Content Part ===-->
<div class="container">
    <!-- Pricing -->
    <div class="row margin-bottom-40">
    	<div class="col-md-3 col-sm-6">
            <div class="pricing hover-effect">
                <div class="pricing-head">
                    <h3>{{ _('Begginer') }} <span>{{ _('Officia deserunt mollitia') }}</span></h3>
                    <h4><i>{{ _('$') }}</i>{{ _('5') }}<i>{{ _('.49') }}</i> <span>{{ _('Per Month') }}</span></h4>
                </div>
                <ul class="pricing-content list-unstyled">
                    <li><i class="icon-tags"></i> {{ _('At vero eos') }}</li>
                    <li><i class="icon-asterisk"></i> {{ _('No Support') }}</li>
                    <li><i class="icon-heart"></i> {{ _('Fusce condimentum') }}</li>
                    <li><i class="icon-star"></i> {{ _('Ut non libero') }}</li>
                    <li><i class="icon-shopping-cart"></i> {{ _('Consecte adiping elit') }}</li>
                </ul>
                <div class="pricing-footer">
                    <p>{{ _('Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna psum olor .') }}</p>
                    <button type="submit">{{ _('Order Now') }}</button>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="pricing hover-effect">
                <div class="pricing-head">
                    <h3>{{ _('Pro Unify') }} <span>{{ _('Officia deserunt mollitia') }}</span></h3>
                    <h4><i>{{ _('$') }}</i>{{ _('8') }}<i>{{ _('.69') }}</i> <span>{{ _('Per Month') }}</span></h4>
                </div>
                <ul class="pricing-content list-unstyled">
                    <li><i class="icon-tags"></i> {{ _('At vero eos') }}</li>
                    <li><i class="icon-asterisk"></i> {{ _('No Support') }}</li>
                    <li><i class="icon-heart"></i> {{ _('Fusce condimentum') }}</li>
                    <li><i class="icon-star"></i> {{ _('Ut non libero') }}</li>
                    <li><i class="icon-shopping-cart"></i> {{ _('Consecte adiping elit') }}</li>
                </ul>
                <div class="pricing-footer">
                    <p>{{ _('Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna psum olor .') }}</p>
                    <button type="submit">{{ _('Order Now') }}</button>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="pricing hover-effect">
                <div class="pricing-head">
                    <h3>{{ _('Expert') }} <span>{{ _('Officia deserunt mollitia') }}</span></h3>
                    <h4><i>{{ _('$') }}</i>{{ _('13') }}<i>{{ _('.99') }}</i> <span>{{ _('Per Month') }}</span></h4>
                </div>
                <ul class="pricing-content list-unstyled">
                    <li><i class="icon-tags"></i> {{ _('At vero eos') }}</li>
                    <li><i class="icon-asterisk"></i> {{ _('No Support') }}</li>
                    <li><i class="icon-heart"></i> {{ _('Fusce condimentum') }}</li>
                    <li><i class="icon-star"></i> {{ _('Ut non libero') }}</li>
                    <li><i class="icon-shopping-cart"></i> {{ _('Consecte adiping elit') }}</li>
                </ul>
                <div class="pricing-footer">
                    <p>{{ _('Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna psum olor .') }}</p>
                    <button type="submit">{{ _('Order Now') }}</button>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="pricing hover-effect">
                <div class="pricing-head">
                    <h3>{{ _('Hi-Tech') }} <span>{{ _('Officia deserunt mollitia') }}</span></h3>
                    <h4><i>{{ _('$') }}</i>{{ _('99') }}<i>{{ _('.00') }}</i> <span>{{ _('Per Month') }}</span></h4>
                </div>
                <ul class="pricing-content list-unstyled">
                    <li><i class="icon-tags"></i> {{ _('At vero eos') }}</li>
                    <li><i class="icon-asterisk"></i> {{ _('No Support') }}</li>
                    <li><i class="icon-heart"></i> {{ _('Fusce condimentum') }}</li>
                    <li><i class="icon-star"></i> {{ _('Ut non libero') }}</li>
                    <li><i class="icon-shopping-cart"></i> {{ _('Consecte adiping elit') }}</li>
                </ul>
                <div class="pricing-footer">
                    <p>{{ _('Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna psum olor .') }}</p>
                    <button type="submit">{{ _('Order Now') }}</button>
                </div>
            </div>
        </div>
    </div><!--/row-->
    <!--//End Pricing -->

	<hr class="margin-bottom-60" />

    <!-- Pricing "No Spacing"-->
    <div class="row no-space-pricing">
    	<div class="col-md-3 col-sm-6">
            <div class="pricing">
                <div class="pricing-head">
                    <h3>{{ _('Begginer') }} <span>{{ _('Officia deserunt mollitia') }}</span></h3>
                    <h4><i>{{ _('$') }}</i>{{ _('5') }}<i>{{ _('.49') }}</i> <span>Per Month</span></h4>
                </div>
                <ul class="pricing-content list-unstyled">
                    <li><i class="icon-tags"></i> {{ _('At vero eos') }}</li>
                    <li><i class="icon-asterisk"></i> {{ _('No Support') }}</li>
                    <li><i class="icon-heart"></i> {{ _('Fusce condimentum') }}</li>
                    <li><i class="icon-star"></i> {{ _('Ut non libero') }}</li>
                    <li><i class="icon-shopping-cart"></i> {{ _('Consecte adiping elit') }}</li>
                </ul>
                <div class="pricing-footer">
                    <p>{{ _('Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna psum olor .') }}</p>
                    <button type="submit">{{ _('Order Now') }}</button>
                </div>
            </div>
        </div>
    	<div class="col-md-3 col-sm-6">
            <div class="pricing">
                <div class="pricing-head">
                    <h3>{{ _('Pro Unify') }} <span>{{ _('Officia deserunt mollitia') }}</span></h3>
                    <h4><i>{{ _('$') }}</i>{{ _('8') }}<i>{{ _('.69') }}</i> <span>{{ _('Per Month') }}</span></h4>
                </div>
                <ul class="pricing-content list-unstyled">
                    <li><i class="icon-tags"></i> {{ _('At vero eos') }}</li>
                    <li><i class="icon-asterisk"></i> {{ _('No Support') }}</li>
                    <li><i class="icon-heart"></i> {{ _('Fusce condimentum') }}</li>
                    <li><i class="icon-star"></i> {{ _('Ut non libero') }}</li>
                    <li><i class="icon-shopping-cart"></i> {{ _('Consecte adiping elit') }}</li>
                </ul>
                <div class="pricing-footer">
                    <p>{{ _('Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna psum olor .') }}</p>
                    <button type="submit">{{ _('Order Now') }}</button>
                </div>
            </div>
        </div>
    	<div class="col-md-3 col-sm-6">
            <div class="pricing">
                <div class="pricing-head">
                    <h3>{{ _('Expert') }} <span>{{ _('Officia deserunt mollitia') }}</span></h3>
                    <h4><i>{{ _('$') }}</i>{{ _('13') }}<i>{{ _('.99') }}</i> <span>{{ _('Per Month') }}</span></h4>
                </div>
                <ul class="pricing-content list-unstyled">
                    <li><i class="icon-tags"></i> {{ _('At vero eos') }}</li>
                    <li><i class="icon-asterisk"></i> {{ _('No Support') }}</li>
                    <li><i class="icon-heart"></i> {{ _('Fusce condimentum') }}</li>
                    <li><i class="icon-star"></i> {{ _('Ut non libero') }}</li>
                    <li><i class="icon-shopping-cart"></i> {{ _('Consecte adiping elit') }}</li>
                </ul>
                <div class="pricing-footer">
                    <p>{{ _('Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna psum olor .') }}</p>
                    <button type="submit">{{ _('Order Now') }}</button>
                </div>
            </div>
        </div>
    	<div class="col-md-3 col-sm-6">
            <div class="pricing">
                <div class="pricing-head">
                    <h3>{{ _('Hi-Tech') }}<span>{{ _('Officia deserunt mollitia') }}</span></h3>
                    <h4><i>{{ _('$') }}</i>{{ _('99') }}<i>{{ _('.00') }}</i> <span>{{ _('Per Month') }}</span></h4>
                </div>
                <ul class="pricing-content list-unstyled">
                    <li><i class="icon-tags"></i> {{ _('At vero eos') }}</li>
                    <li><i class="icon-asterisk"></i> {{ _('No Support') }}</li>
                    <li><i class="icon-heart"></i> {{ _('Fusce condimentum') }}</li>
                    <li><i class="icon-star"></i> {{ _('Ut non libero') }}</li>
                    <li><i class="icon-shopping-cart"></i> {{ _('Consecte adiping elit') }}</li>
                </ul>
                <div class="pricing-footer">
                    <p>{{ _('Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna psum olor .') }}</p>
                    <button type="submit">{{ _('Order Now') }}</button>
                </div>
            </div>
        </div>
    </div><!--/row-->
    <!--//End Pricing "No Spacing" -->
</div><!--/container-->
<!--=== End Content Part ===-->
{% endblock %}

{% block js %}
<!-- JS Page Level -->
<script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
    });
</script>
{% endblock %}