{% extends '_base.html' %}

{% set page_title = "Unify | User Registration" %}

{% set disable_header = True %}
{% set disable_footer = True %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/pages/page_log_reg_v2.css') }}">
{% endblock %}

{% block main_content %}
<!--=== Content Part ===-->
<div class="container">
    <!--Reg Block-->
    <div class="reg-block">
        <div class="reg-block-header">
            <h2>{{ _('Sign Up') }}</h2>
            <ul class="list-inline style-icons text-center">
                <li><a href="{{ url_for('index') }}"><i class="icon-home icon-round icon-round-sm icon-color-grey"></i></a></li>
                <li><a href="#"><i class="icon-linkedin icon-round icon-round-sm icon-color-grey"></i></a></li>
                <li><a href="#"><i class="icon-facebook icon-round icon-round-sm icon-color-grey"></i></a></li>
                <li><a href="#"><i class="icon-twitter icon-round icon-round-sm icon-color-grey"></i></a></li>
                <li><a href="#"><i class="icon-rss icon-round icon-round-sm icon-color-grey"></i></a></li>
            </ul>
            <p>{{ _('Already Signed Up? Click') }} <a class="color-green" href="{{ url_for('page_login1') }}">{{ _('Sign In') }}</a> {{ _('to login your account.') }}</p>
        </div>

        <form>
            {{ form.csrf_token }}
            <div class="input-group margin-bottom-20">
                <span class="input-group-addon"><i class="icon-user"></i></span>
                {{ form.username(class="form-control", placeholder=form.username.label.text) }}
            </div>
            <div class="input-group margin-bottom-20">
                <span class="input-group-addon"><i class="icon-envelope"></i></span>
                {{ form.email(class="form-control", placeholder=form.email.label.text) }}
            </div>
            <div class="input-group margin-bottom-20">
                <span class="input-group-addon"><i class="icon-lock"></i></span>
                {{ form.password(class="form-control", placeholder=form.password.label.text) }}
            </div>
            <div class="input-group margin-bottom-30">
                <span class="input-group-addon"><i class="icon-key"></i></span>
                {{ form.confirm_password(class="form-control", placeholder=form.confirm_password.label.text) }}
            </div>
            <hr>
            <label class="checkbox">
                {{ form.tc_accept }}
                <p>{{ _('I read') }} <a target="_blank" href="{{ url_for('page_terms') }}">{{ _('Terms and Conditions') }}</a></p>
            </label>

            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <button type="submit" class="btn-u btn-block">{{ _('Register') }}</button>
                </div>
            </div>
        </form>
    </div>
    <!--End Reg Block-->
</div><!--/container-->
<!--=== End Content Part ===-->
{% endblock %}

{% block js %}
<!-- JS Implementing Plugins -->
<script type="text/javascript" src="{{ url_for('static', filename='plugins/countdown/jquery.countdown.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='plugins/backstretch/jquery.backstretch.min.js') }}"></script>
<!-- JS Page Level -->
<script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
    });
</script>
<script type="text/javascript">
    $.backstretch([
      "{{ url_for('static', filename='img/bg/5.jpg') }}",
      "{{ url_for('static', filename='img/bg/4.jpg') }}",
      ], {
        fade: 1000,
        duration: 7000
    });
</script>
{% endblock %}