{% extends '_base.html' %}

{% set page_title = "Unify | User Login" %}

{% set breadcrumbs = True %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/pages/page_log_reg_v1.css') }}">
{% endblock %}

{% block main_content %}
<!--=== Content Part ===-->
<div class="container">
	<div class="row">
        <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
            <form class="reg-page">
                {{ form.csrf_token }}
                <div class="reg-header">
                    <h2>{{ _('Login to your account') }}</h2>
                </div>

                <div class="input-group margin-bottom-20">
                    <span class="input-group-addon"><i class="icon-user"></i></span>
                    {{ form.username(class="form-control", placeholder=form.username.label.text) }}
                </div>
                <div class="input-group margin-bottom-20">
                    <span class="input-group-addon"><i class="icon-lock"></i></span>
                    {{ form.password(class="form-control", placeholder=form.password.label.text) }}
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <label class="checkbox">{{ form.remember_me }} {{ _('Stay signed in') }}</label>
                    </div>
                    <div class="col-md-6">
                        <button class="btn-u pull-right" type="submit">{{ _('Login') }}</button>
                    </div>
                </div>

                <hr>

                <h4>{{ _('Forget your Password ?') }}</h4>
                <p>{{ _('no worries,') }} <a class="color-green" href="#">{{ _('click here') }}</a> {{ _('to reset your password.') }}</p>
            </form>
        </div>
    </div><!--/row-->
</div><!--/container-->
<!--=== End Content Part ===-->
{% endblock %}

{% block js %}
<!-- JS Page Level -->
<script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
    });
</script>
{% endblock %}