{% extends '_base.html' %}

{% set page_title = "Unify | Welcome..." %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='plugins/flexslider/flexslider.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='plugins/parallax-slider/css/parallax-slider.css') }}">
{#<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='plugins/blockHover/css/component.css') }}">#}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='plugins/layer_slider/css/layerslider.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/pages/page_search.css') }}">
{% endblock %}

{% block main_content %}
<!--=== Slider ===-->
<div class="layer_slider">
    <div id="layerslider-container-fw">
        <div id="layerslider" style="width: 100%; height: 500px; margin: 0px auto; ">
            <!--First Slide-->
            <div class="ls-layer" style="slidedirection: right; transition2d: 24,25,27,28; ">

                <img src="{{ url_for('static', filename='img/sliders/layer/bg1.jpg') }}" class="ls-bg" alt="Slide background">

                <img src="{{ url_for('static', filename='img/mockup/iphone1.png') }}" alt="Slider Image" class="ls-s-1" style=" top:110px; left: 240px; slidedirection : left; slideoutdirection : bottom; durationin : 1500; durationout : 1500; ">

                <img src="{{ url_for('static', filename='img/mockup/iphone.png') }}" alt="Slider image" class="ls-s-1" style=" top:60px; left: 40px; slidedirection : left; slideoutdirection : bottom; durationin : 2500; durationout : 2500; ">

                <span class="ls-s-1" style=" text-transform: uppercase; line-height: 45px; font-size:35px; color:#fff; top:200px; left: 590px; slidedirection : top; slideoutdirection : bototm; durationin : 3500; durationout : 3500; ">
                    {{ _('Fully Responsive') }} <br> {{ _('Bootstrap 3 Template') }}
                </span>

                <a class="btn-u btn-u-orange ls-s1" href="#" style=" padding: 9px 20px; font-size:25px; top:340px; left: 590px; slidedirection : bottom; slideoutdirection : top; durationin : 3500; durationout : 3500; ">
                    {{ _('Download Now') }}
                </a>
            </div>
            <!--End First Slide-->

            <!--Second Slide-->
            <div class="ls-layer" style="slidedirection: top; ">
                <img src="{{ url_for('static', filename='img/bg/5.jpg') }}" class="ls-bg" alt="Slide background">

                <i class="icon-chevron-sign-right ls-s-1" style=" color: #fff; font-size: 24px; top:70px; left: 40px; slidedirection : left; slideoutdirection : top; durationin : 1500; durationout : 500; "></i>

                <span class="ls-s-2" style=" color: #fff; font-weight: 200; font-size: 22px; top:70px; left: 70px; slidedirection : top; slideoutdirection : bottom; durationin : 1500; durationout : 500; ">
                    {{ _('Fully Responsive and Easy to Customize') }}
                </span>

                <i class="icon-chevron-sign-right ls-s-1" style=" color: #fff; font-size: 24px; top:120px; left: 40px; slidedirection : left; slideoutdirection : top; durationin : 2500; durationout : 1500; "></i>

                <span class="ls-s-2" style=" color: #fff; font-weight: 200; font-size: 22px; top:120px; left: 70px; slidedirection : top; slideoutdirection : bottom; durationin : 2500; durationout : 1500; ">
                    {{ _('Revolution and Layer Slider Included') }}
                </span>

                <i class="icon-chevron-sign-right ls-s-1" style=" color: #fff; font-size: 24px; top:170px; left: 40px; slidedirection : left; slideoutdirection : top; durationin : 3500; durationout : 3500; "></i>

                <span class="ls-s-2" style=" color: #fff; font-weight: 200; font-size: 22px; top:170px; left: 70px; slidedirection : top; slideoutdirection : bottom; durationin : 3500; durationout : 2500; ">
                    {{ _('1000+ Glyphicons Pro and Font Awesome Icons') }}
                </span>

                <i class="icon-chevron-sign-right ls-s-1" style=" color: #fff; font-size: 24px; top:220px; left: 40px; slidedirection : left; slideoutdirection : top; durationin : 4500; durationout : 3500; "></i>

                <span class="ls-s-2" style=" color: #fff; font-weight: 200; font-size: 22px; top:220px; left: 70px; slidedirection : top; slideoutdirection : bottom; durationin : 4500; durationout : 3500; ">
                    {{ _('Revolution and Layer Slider Included') }}
                </span>

                <i class="icon-chevron-sign-right ls-s-1" style=" color: #fff; font-size: 24px; top:270px; left: 40px; slidedirection : left; slideoutdirection : top; durationin : 5500; durationout : 4500; "></i>

                <span class="ls-s-2" style=" color: #fff; font-weight: 200; font-size: 22px; top:270px; left: 70px; slidedirection : top; slideoutdirection : bottom; durationin : 5500; durationout : 4500; ">
                    {{ _('60+ Template Pages and 20+ Plugins Included') }}
                </span>

                <a class="btn-u btn-u-blue ls-s1" href="#" style=" padding: 9px 20px; font-size:25px; top:340px; left: 40px; slidedirection : bottom; slideoutdirection : bottom; durationin : 6500; durationout : 3500; ">
                    {{ _('Twitter Bootstrap 3') }}
                </a>

                <img src="{{ url_for('static', filename='img/mockup/iphone1.png') }}" alt="Slider Image" class="ls-s-1" style=" top:30px; left: 650px; slidedirection : right; slideoutdirection : bottom; durationin : 1500; durationout : 1500; ">
            </div>
            <!--End Second Slide-->

            <!--Third Slide-->
            <div class="ls-layer" style="slidedirection: right; transition2d: 92,93,105; ">
                <img src="{{ url_for('static', filename='img/sliders/layer/bg2.jpg') }}" class="ls-bg" alt="Slide background">

                <span class="ls-s-1" style=" color: #777; line-height:45px; font-weight: 200; font-size: 35px; top:100px; left: 50px; slidedirection : top; slideoutdirection : bottom; durationin : 1000; durationout : 1000; ">
                    {{ _('Unify is Fully Responsive') }} <br> {{ _('Twitter Bootstrap 3 Template') }}
                </span>

                <a class="btn-u btn-u-green ls-s-1" href="#" style=" padding: 9px 20px; font-size:25px; top:220px; left: 50px; slidedirection : bottom; slideoutdirection : bottom; durationin : 2000; durationout : 2000; ">
                    {{ _('Find Out More') }}
                </a>

                <img src="{{ url_for('static', filename='img/mockup/iphone.png') }}" alt="Slider Image" class="ls-s-1" style=" top:30px; left: 670px; slidedirection : right; slideoutdirection : bottom; durationin : 3000; durationout : 3000; ">
            </div>
            <!--End Third Slide-->
        </div>
    </div>
</div><!--/layer_slider-->
<!--=== End Slider ===-->

<!--=== Purchase Block ===-->
<div class="purchase">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <span>{{ _('Unify is a clean and fully responsive incgreenible Template.') }}</span>
                <p>{{ _('At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi  vehicula sem ut volutpat. Ut non libero magna fusce condimentum eleifend enim a feugiat.') }}</p>
            </div>
            <div class="col-md-3">
                <a href="#" class="btn-buy hover-effect">{{ _('Purchase Now') }}</a>
            </div>
        </div>
    </div>
</div><!--/row-->
<!-- End Purchase Block -->

<!--=== Content Part ===-->
<div class="container">
    <!--Title Box-->
    <div class="title-box">
        <div class="title-box-text">{{ _('We') }} <span class="color-green">{{ _('Do') }}</span> {{ _('Awasome Design') }}</div>
        <p>{{ _('Creative freedom matters user experience, we minimize the gap between technology and its audience.') }}</p>
    </div>
    <!--End Promo Box-->

    <!--Promo Box-->
    <div class="row">
        <div class="col-md-4">
            <div class="promo-box">
                <i class="icon-bullhorn color-blue"></i>
                <strong>{{ _('Creative Freedom Experience') }}</strong>
                <p>{{ _('At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium qui officia deserunt mollitia anim') }}</p>
            </div>
        </div>

        <div class="col-md-4">
            <div class="promo-box">
                <i class="icon-bolt color-orange"></i>
                <strong>{{ _('Dedicated Advanced Team') }}</strong>
                <p>{{ _('At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium qui officia deserunt mollitia anim') }}</p>
            </div>
        </div>

        <div class="col-md-4">
            <div class="promo-box">
                <i class="icon-rocket color-sea"></i>
                <strong>{{ _('We Do Things With Love') }}</strong>
                <p>{{ _('At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium qui officia deserunt mollitia anim') }}</p>
            </div>
        </div>
    </div>
    <!--End Promo Box-->

    <!--Tag Box-->
    <div class="row tag-box tag-box-v5">
        <div class="col-md-8">
            <span>{{ _('Accusamus et odio ducimus quiatfus?') }}</span>
        </div>
        <div class="col-md-4">
            <p><button class="btn-u btn-u-lg btn-u-green"><i class="icon-cloud-download"></i> {{ _('Download Now') }}</button></p>
        </div>
    </div>
    <!--End Tag Box-->

    <div class="clearfix margin-bottom-40"></div>

    <!--Our Work-->
    <div class="row service-v1 margin-bottom-40">
        <div class="col-md-4 md-margin-bottom-40">
            <div id="myCarousel" class="carousel slide carousel-v1">
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="{{ url_for('static', filename='img/main/11.jpg') }}" alt="">
                        <div class="carousel-caption">
                            <p>{{ _('Facilisis odio, dapibus ac justo acilisis gestinas.') }}</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="{{ url_for('static', filename='img/main/12.jpg') }}" alt="">
                        <div class="carousel-caption">
                            <p>{{ _('Cras justo odio, dapibus ac facilisis into egestas.') }}</p>
                        </div>
                        </div>
                    <div class="item">
                        <img src="{{ url_for('static', filename='img/main/10.jpg') }}" alt="">
                        <div class="carousel-caption">
                            <p>{{ _('Justo cras odio apibus ac afilisis lingestas de.') }}</p>
                        </div>
                    </div>
                </div>

                <div class="carousel-arrow">
                    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                        <i class="icon-angle-left"></i>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next">
                        <i class="icon-angle-right"></i>
                    </a>
                </div>
            </div>
            <h2>{{ _('60+ Template Pages') }}</h2>
            <p>{{ _('At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et') }} <strong class="color-green">{{ _('quas molestias excepturi') }}</strong> {{ _('sint occaecati cupiditate non provident, similique animi..') }}</p>
        </div>
        <div class="col-md-4">
            <img alt="" src="{{ url_for('static', filename='img/main/13.jpg') }}" class="img-responsive">
            <h2>{{ _('Developer Friendly Code') }}</h2>
            <p>{{ _('Diccusamus et iusto') }} <strong class="color-green">{{ _('odio dignissimos aucimus') }}</strong> {{ _('nditiis praesentium voluptatum deleniti atque corrupti quos dolores vero eosetaet quas molestias excepturi sint occaecati cupiditate non provident, similique animi..') }}</p>
        </div>
        <div class="col-md-4 md-margin-bottom-40">
            <iframe width="100%" height="227" frameborder="0" allowfullscreen="" mozallowfullscreen="" webkitallowfullscreen="" src="http://player.vimeo.com/video/47911018"></iframe>

            <h2>{{ _('Bootstrap 3 Template') }}</h2>
            <p>{{ _('Unify is an incgreenibly beautiful Responsive Bootstrap Template for') }} <strong class="color-green">{{ _('corporate and creative') }}</strong> {{ _('professionals. It works on all major web browsers, tablets and phone. Lorem sequat ipsum dolor lorem sit amet, consectetur adipiscing dolor...') }}</p>
        </div>
    </div>
    <!--End Our Work-->

    <!--Our Testomonial-->
    <div class="row margin-bottom-40">
        <div class="col-md-6">
            <div class="tag-box tag-box-v4">
                <h2>{{ _('Consectetur adipiscing elit harum quidem rerum magnaed et quam lacus') }}</h2>
                <p>{{ _('Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet consectetur adipiscing elit. Ut non libero consectetur adipiscing elit magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat.') }}</p>
            </div>
        </div>

        <div class="col-md-6">
            <div class="carousel slide testimonials testimonials-v1" id="testimonials-1">
                <div class="carousel-inner">
                    <div class="item active">
                        <p>{{ _('Crasjusto ducimus qui cupiditate non provident, similique sunt in culpaid est anditiis praesentium praesentium similqui cupiditate non providenque sunt in culpaid est anditiis prae sentium esentium. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatu.') }}</p>
                        <div class="testimonial-info">
                            <img alt="" src="{{ url_for('static', filename='img/testimonials/img1.jpg') }}">
                            <span class="testimonial-author">
                                {{ _('Jeremy Asigner') }}
                                <em>{{ _('Web Developer, Unify Theme.') }}</em>
                            </span>
                        </div>
                    </div>
                    <div class="item">
                        <p>{{ _('Ducimus qui cupiditate non provident, similique sunt in culpaid est anditiis praesentium praesentium similqui cupiditate crasjusto non providenque sunt in culpaid est anditiis prae sentium esentium. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditii sdignissimos prae sentium...') }}</p>
                        <div class="testimonial-info">
                            <img alt="" src="{{ url_for('static', filename='img/testimonials/user.jpg') }}">
                            <span class="testimonial-author">
                                {{ _('User') }}
                                <em>{{ _('Java Developer, Htmlstream') }}</em>
                            </span>
                        </div>
                    </div>
                    <div class="item">
                        <p>{{ _('Adesjusto ducimus qui cupiditate non provident, similique sunt in culpaid est anditiis praesentium praesentium similqui cupiditate non providenque sunt in culpaid est anditiis prae sentium esentium. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis araesentium...') }}</p>
                        <div class="testimonial-info">
                            <img alt="" src="{{ url_for('static', filename='img/testimonials/img2.jpg') }}">
                            <span class="testimonial-author">
                                {{ _('Kate Davenport') }}
                                <em>{{ _('Web Designer, Google Inc.') }}</em>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="carousel-arrow">
                    <a data-slide="prev" href="#testimonials-1" class="left carousel-control">
                        <i class="icon-angle-left"></i>
                    </a>
                    <a data-slide="next" href="#testimonials-1" class="right carousel-control">
                        <i class="icon-angle-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!--End Testomonial-->

    <hr class="margin-bottom-40">

    <!-- Info Blcoks -->
    <div class="row">
        <div class="col-sm-4 info-blocks">
            <i class="icon-bell icon-info-blocks"></i>
            <div class="info-blocks-in">
                <h3>{{ _('Here will be some title') }}</h3>
                <p>{{ _('At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum animi..') }}</p>
            </div>
        </div>
        <div class="col-sm-4 info-blocks">
            <i class="icon-hdd icon-info-blocks"></i>
            <div class="info-blocks-in">
                <h3>{{ _('Here will be some title') }}</h3>
                <p>{{ _('At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum animi..') }}</p>
            </div>
        </div>
        <div class="col-sm-4 info-blocks">
            <i class="icon-lightbulb icon-info-blocks"></i>
            <div class="info-blocks-in">
                <h3>{{ _('Here will be some title') }}</h3>
                <p>{{ _('At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum animi..') }}</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 info-blocks">
            <i class="icon-heart-empty icon-info-blocks"></i>
            <div class="info-blocks-in">
                <h3>{{ _('Here will be some title') }}</h3>
                <p>{{ _('At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum animi..') }}</p>
            </div>
        </div>
        <div class="col-sm-4 info-blocks">
            <i class="icon-thumbs-up-alt icon-info-blocks"></i>
            <div class="info-blocks-in">
                <h3>{{ _('Here will be some title') }}</h3>
                <p>{{ _('At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum animi..') }}</p>
            </div>
        </div>
        <div class="col-sm-4 info-blocks">
            <i class="icon-laptop icon-info-blocks"></i>
            <div class="info-blocks-in">
                <h3>{{ _('Here will be some title') }}</h3>
                <p>{{ _('At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum animi..') }}</p>
            </div>
        </div>
    </div>
    <!--End Info Blcoks -->

    <hr class="margin-bottom-50">

    <!--Service Block-->
    <div class="row promo-service">
        <div class="col-md-6 md-margin-bottom-20">
            <h2>{{ _('Responsive Bootstrap Template') }}</h2>
            <p>{{ _('Opim moon officia Unify is an incgreenibly beautiful responsive at vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium qui officia deserunt mollitia anim samus et iusto odio dignissimos ducimus quiemplate.') }}</p>
            <ul class="list-unstyled">
                <li><i class="icon-angle-right color-green"></i>{{ _('Responsive Bootstrap Template') }}</li>
                <li><i class="icon-angle-right color-green"></i>{{ _('Mollitia anim samus et iusto') }}</li>
                <li><i class="icon-angle-right color-green"></i>{{ _('Praesentium deserunt Officia') }}</li>
                <li><i class="icon-angle-right color-green"></i>{{ _('Pesontive at vero eos et accusamus') }}</li>
                <li><i class="icon-angle-right color-green"></i>{{ _('Araesentium qui esentium') }}</li>
            </ul>
            <br>
            <a href="#" class="btn-u btn-u-lg btn-u-sea"><i class="icon-thumbs-up"></i> {{ _('Deserunt Mollitia') }}</a>
            <a href="#" class="btn-u btn-u-lg btn-u-blue"><i class="icon-dropbox"></i> {{ _('Officia Accusamus') }}</a>
        </div>

        <div class="col-md-6">
            <div class="carousel slide carousel-v1" id="myCarousel-1">
                <div class="carousel-inner">
                    <div class="item active">
                        <img alt="" src="{{ url_for('static', filename='img/main/3.jpg') }}">
                        <div class="carousel-caption">
                            <p>{{ _('Facilisis odio, dapibus ac justo acilisis gestinas.') }}</p>
                        </div>
                    </div>
                    <div class="item">
                        <img alt="" src="{{ url_for('static', filename='img/main/12.jpg') }}">
                        <div class="carousel-caption">
                            <p>{{ _('Cras justo odio, dapibus ac facilisis into egestas.') }}</p>
                        </div>
                        </div>
                    <div class="item">
                        <img alt="" src="{{ url_for('static', filename='img/main/6.jpg') }}">
                        <div class="carousel-caption">
                            <p>{{ _('Justo cras odio apibus ac afilisis lingestas de.') }}</p>
                        </div>
                    </div>
                </div>

                <div class="carousel-arrow">
                    <a data-slide="prev" href="#myCarousel-1" class="left carousel-control">
                        <i class="icon-angle-left"></i>
                    </a>
                    <a data-slide="next" href="#myCarousel-1" class="right carousel-control">
                        <i class="icon-angle-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!--End Service Block-->
</div>
<!-- End Content Part -->
{% endblock %}

{% block js %}
<!-- JS Implementing Plugins -->
<script type="text/javascript" src="{{ url_for('static', filename='plugins/flexslider/jquery.flexslider-min.js') }}"></script>
<!-- Layer Slider -->
<script type="text/javascript" src="{{ url_for('static', filename='plugins/layer_slider/jQuery/jquery-easing-1.3.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='plugins/layer_slider/jQuery/jquery-transit-modified.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='plugins/layer_slider/js/layerslider.transitions.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='plugins/layer_slider/js/layerslider.kreaturamedia.jquery.js') }}"></script>
<!-- JS Page Level -->
<script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/pages/index.js') }}"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
      	App.init();
        App.initSliders();
        Index.initLayerSlider();
    });
</script>
{% endblock %}