{% extends '_base.html' %}

{% set page_title = "Unify | Gallery" %}

{% set breadcrumbs = True %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='plugins/fancybox/source/jquery.fancybox.css') }}">
{% endblock %}

{% block main_content %}
<!--=== Content Part ===-->
<div class="container">
	<div class="gallery-page">
        <div class="row margin-bottom-20">
            <div class="col-md-3 col-sm-6">
                <a class="thumbnail fancybox-button zoomer" data-rel="fancybox-button" title="Project Title" href="{{ url_for('static', filename='img/main/1.jpg') }}">
                    <span class="overlay-zoom">
                        <img alt="" src="{{ url_for('static', filename='img/main/1.jpg') }}" class="img-responsive">
                        <div class="zoom-icon"></div>
                    </span>
                </a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a class="thumbnail fancybox-button zoomer" data-rel="fancybox-button" title="Project Title" href="{{ url_for('static', filename='img/main/2.jpg') }}">
                    <span class="overlay-zoom">
                        <img alt="" src="{{ url_for('static', filename='img/main/2.jpg') }}" class="img-responsive">
                        <div class="zoom-icon"></div>
                    </span>
                </a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a class="thumbnail fancybox-button zoomer" data-rel="fancybox-button" title="Project Title" href="{{ url_for('static', filename='img/main/3.jpg') }}">
                    <span class="overlay-zoom">
                        <img alt="" src="{{ url_for('static', filename='img/main/3.jpg') }}" class="img-responsive">
                        <div class="zoom-icon"></div>
                    </span>
                </a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a class="thumbnail fancybox-button zoomer" data-rel="fancybox-button" title="Project Title" href="{{ url_for('static', filename='img/main/4.jpg') }}">
                    <span class="overlay-zoom">
                        <img alt="" src="{{ url_for('static', filename='img/main/4.jpg') }}" class="img-responsive">
                        <div class="zoom-icon"></div>
                    </span>
                </a>
            </div>
        </div>

        <div class="row margin-bottom-20">
            <div class="col-md-3 col-sm-6">
                <a class="thumbnail fancybox-button zoomer" data-rel="fancybox-button" title="Project Title" href="{{ url_for('static', filename='img/main/5.jpg') }}">
                    <span class="overlay-zoom">
                        <img alt="" src="{{ url_for('static', filename='img/main/5.jpg') }}" class="img-responsive">
                        <div class="zoom-icon"></div>
                    </span>
                </a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a class="thumbnail fancybox-button zoomer" data-rel="fancybox-button" title="Project Title" href="{{ url_for('static', filename='img/main/6.jpg') }}">
                    <span class="overlay-zoom">
                        <img alt="" src="{{ url_for('static', filename='img/main/6.jpg') }}" class="img-responsive">
                        <div class="zoom-icon"></div>
                    </span>
                </a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a class="thumbnail fancybox-button zoomer" data-rel="fancybox-button" title="Project Title" href="{{ url_for('static', filename='img/main/7.jpg') }}">
                    <span class="overlay-zoom">
                        <img alt="" src="{{ url_for('static', filename='img/main/7.jpg') }}" class="img-responsive">
                        <div class="zoom-icon"></div>
                    </span>
                </a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a class="thumbnail fancybox-button zoomer" data-rel="fancybox-button" title="Project Title" href="{{ url_for('static', filename='img/main/8.jpg') }}">
                    <span class="overlay-zoom">
                        <img alt="" src="{{ url_for('static', filename='img/main/8.jpg') }}" class="img-responsive">
                        <div class="zoom-icon"></div>
                    </span>
                </a>
            </div>
        </div>

        <hr class="margin-bottom-30">

        <div class="row margin-bottom-20">
            <div class="col-md-4 col-sm-6">
                <a class="thumbnail fancybox-button zoomer" data-rel="fancybox-button" title="Project Title" href="{{ url_for('static', filename='img/main/9.jpg') }}">
                    <span class="overlay-zoom">
                        <img alt="" src="{{ url_for('static', filename='img/main/9.jpg') }}" class="img-responsive">
                        <div class="zoom-icon"></div>
                    </span>
                </a>
            </div>
            <div class="col-md-2 col-sm-6">
                <a class="thumbnail fancybox-button zoomer" data-rel="fancybox-button" title="Project Title" href="{{ url_for('static', filename='img/main/10.jpg') }}">
                    <span class="overlay-zoom">
                        <img alt="" src="{{ url_for('static', filename='img/main/10.jpg') }}" class="img-responsive">
                        <div class="zoom-icon"></div>
                    </span>
                </a>
            </div>
            <div class="col-md-2 col-sm-6">
                <a class="thumbnail fancybox-button zoomer" data-rel="fancybox-button" title="Project Title" href="{{ url_for('static', filename='img/main/1.jpg') }}">
                    <span class="overlay-zoom">
                        <img alt="" src="{{ url_for('static', filename='img/main/1.jpg') }}" class="img-responsive">
                        <div class="zoom-icon"></div>
                    </span>
                </a>
            </div>
            <div class="col-md-2 col-sm-6">
                <a class="thumbnail fancybox-button zoomer" data-rel="fancybox-button" title="Project Title" href="{{ url_for('static', filename='img/main/2.jpg') }}">
                    <span class="overlay-zoom">
                        <img alt="" src="{{ url_for('static', filename='img/main/2.jpg') }}" class="img-responsive">
                        <div class="zoom-icon"></div>
                    </span>
                </a>
            </div>
            <div class="col-md-2 col-sm-6">
                <a class="thumbnail fancybox-button zoomer" data-rel="fancybox-button" title="Project Title" href="{{ url_for('static', filename='img/main/3.jpg') }}">
                    <span class="overlay-zoom">
                        <img alt="" src="{{ url_for('static', filename='img/main/3.jpg') }}" class="img-responsive">
                        <div class="zoom-icon"></div>
                    </span>
                </a>
            </div>
            <div class="col-md-2 col-sm-6">
                <a class="thumbnail fancybox-button zoomer" data-rel="fancybox-button" title="Project Title" href="{{ url_for('static', filename='img/main/4.jpg') }}">
                    <span class="overlay-zoom">
                        <img alt="" src="{{ url_for('static', filename='img/main/4.jpg') }}" class="img-responsive">
                        <div class="zoom-icon"></div>
                    </span>
                </a>
            </div>
            <div class="col-md-2 col-sm-6">
                <a class="thumbnail fancybox-button zoomer" data-rel="fancybox-button" title="Project Title" href="{{ url_for('static', filename='img/main/5.jpg') }}">
                    <span class="overlay-zoom">
                        <img alt="" src="{{ url_for('static', filename='img/main/5.jpg') }}" class="img-responsive">
                        <div class="zoom-icon"></div>
                    </span>
                </a>
            </div>
        </div>

        <div class="text-right">
            <ul class="pagination">
                <li><a href="#">Prev</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li class="active"><a>3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">Next</a></li>
            </ul>
        </div>
    </div><!--/gallery-page-->
</div><!--/container-->
<!--=== End Content Part ===-->
{% endblock %}

{% block js %}
<!-- JS Implementing Plugins -->
<script type="text/javascript" src="{{ url_for('static', filename='plugins/fancybox/source/jquery.fancybox.pack.js') }}"></script>
<!-- JS Page Level -->
<script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
        App.initFancybox();
    });
</script>
{% endblock %}