{% extends '_base.html' %}

{% set page_title = "Unify | Right Column" %}

{% set breadcrumbs = True %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='plugins/fancybox/source/jquery.fancybox.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='plugins/bxslider/jquery.bxslider.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='plugins/flexslider/flexslider.css') }}" media="screen">
{% endblock %}

{% block main_content %}
<!--=== Content Part ===-->
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <!-- Our Services -->
            <div class="headline"><h2>{{ _('Our Services') }}</h2></div>
            <div class="row servive-block servive-block-in margin-bottom-20">
                <div class="col-md-4">
                    <div class="servive-block-in servive-block-colored servive-block-blue">
                        <h4>{{ _('Cloud Blue Box') }}</h4>
                        <p><i class="icon-cloud-download"></i></p>
                        <p>{{ _('Donec id elit non mi porta gravida at eget metus id elit mi egetine.') }}</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="servive-block-in servive-block-colored servive-block-red">
                        <h4>{{ _('Amazing Red Box') }}</h4>
                        <p><i class="icon-bullhorn"></i></p>
                        <p>{{ _('Donec id elit non mi porta gravida at eget metus id elit mi egetine.') }}</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="servive-block-in servive-block-colored servive-block-sea">
                        <h4>{{ _('Woow Sea Box') }}</h4>
                        <p><i class="icon-lightbulb"></i></p>
                        <p>{{ _('Donec id elit non mi porta gravida at eget metus id elit mi egetine.') }}</p>
                    </div>
                </div>
            </div><!--/welcome-block-->
            <!-- End Our Services -->

            <!-- Blockquotes -->
            <p>{{ _('Unify is an') }} <strong class="color-green">{{ _('incredibly beautiful') }}</strong> {{ _('responsive Bootstrap Template for corporate and creative professionals. It works on all major web browsers. Award winning digital agency. We bring a personal and effective approach adipiscing elit approach to') }} <strong class="color-green">{{ _('every project') }}</strong> {{ _('we work on, which is why our clients love us and why they. Lorem sequat ipsum dolor lorem sit amet, consectetur adipiscing dolor elit.') }}</p>
            <p>{{ _('Fusce condimentum eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat. Lorem ipsum dolor sit amet, conse cteturse adipiscing elit magna consectetur and effective.') }}</p>
            <br>
            <blockquote class="hero-unify margin-bottom-40">
                <p>{{ _('Award winning digital agency. We bring a personal and effective consectetur and effective approach adipiscing elit approach to every project we work on, which is why our clients love us and why they.') }}</p>
                <small>{{ _('CEO, Jack Baur') }}</small>
            </blockquote>
            <!-- End Blockquotes -->

            <!-- Recent Works -->
            <div class="headline"><h2>{{ _('Recent Works') }}</h2></div>
            <div class="margin-bottom-40">
                <ul id="list" class="bxslider1 recent-work margin-bottom-40">
                    <li>
                        <a href="#">
                            <em class="overflow-hidden"><img src="{{ url_for('static', filename='img/main/2.jpg') }}" alt="" /></em>
                            <span>
                                <strong>{{ _('Happy New Year') }}</strong>
                                <i>{{ _('Anim pariatur cliche reprehenderit') }}</i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <em class="overflow-hidden"><img src="{{ url_for('static', filename='img/main/9.jpg') }}" alt="" /></em>
                            <span>
                                <strong>{{ _('Award Winning Agency') }}</strong>
                                <i>{{ _('Responsive Bootstrap Template') }}</i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <em class="overflow-hidden"><img src="{{ url_for('static', filename='img/main/4.jpg') }}" alt="" /></em>
                            <span>
                                <strong>{{ _('Wolf Moon Officia') }}</strong>
                                <i>{{ _('Pariatur prehe cliche reprehrit') }}</i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <em class="overflow-hidden"><img src="{{ url_for('static', filename='img/main/5.jpg') }}" alt="" /></em>
                            <span>
                                <strong>{{ _('Food Truck Quinoa Nesciunt') }}</strong>
                                <i>{{ _('Craft labore wes anderson cred') }}</i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <em class="overflow-hidden"><img src="{{ url_for('static', filename='img/main/6.jpg') }}" alt="" /></em>
                            <span>
                                <strong>{{ _('Happy New Year') }}</strong>
                                <i>{{ _('Anim pariatur cliche reprehenderit') }}</i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <em class="overflow-hidden"><img src="{{ url_for('static', filename='img/main/7.jpg') }}" alt="" /></em>
                            <span>
                                <strong>{{ _('Award Winning Agency') }}</strong>
                                <i>{{ _('Responsive Bootstrap Template') }}</i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <em class="overflow-hidden"><img src="{{ url_for('static', filename='img/main/8.jpg') }}" alt="" /></em>
                            <span>
                                <strong>{{ _('Wolf Moon Officia') }}</strong>
                                <i>{{ _('Pariatur prehe cliche reprehrit') }}</i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <em class="overflow-hidden"><img src="{{ url_for('static', filename='img/main/9.jpg') }}" alt="" /></em>
                            <span>
                                <strong>{{ _('Food Truck Quinoa Nesciunt') }}</strong>
                                <i>{{ _('Craft labore wes anderson cred') }}</i>
                            </span>
                        </a>
                    </li>
                </ul>
            </div><!--/row-->
            <!-- End Recent Works -->
        </div><!--/col-md-9-->

        <div class="col-md-3">
            <!-- About Us -->
            <div class="margin-bottom-30">
                <div class="headline"><h2>{{ _('About Us') }}</h2></div>
                <p>{{ _('Fusce condimentum eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat. Lorem ipsum dolor sit amet, conse cteturse adipiscing elit magna.') }}</p>
                <ul class="list-unstyled">
                    <li><i class="icon-ok color-green"></i> {{ _('Consectetur adipiscing elit') }}</li>
                    <li><i class="icon-ok color-green"></i> {{ _('Ipsum dolor sit amet') }}</li>
                    <li><i class="icon-ok color-green"></i> {{ _('Personal and effective approach') }}</li>
                    <li><i class="icon-ok color-green"></i> {{ _('Ut non libero magna sedot') }}</li>
                </ul>
            </div>

            <!-- Posts -->
            <div class="posts margin-bottom-30">
                <div class="headline"><h2>{{ _('Recent Blog Entries') }}</h2></div>
                <dl class="dl-horizontal">
                    <dt><a href="#"><img src="{{ url_for('static', filename='img/sliders/elastislide/10.jpg') }}" alt="" /></a></dt>
                    <dd>
                        <p><a href="#">{{ _('Lorem sequat ipsum dolor lorem sunt aliqua put') }}</a></p>
                    </dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt><a href="#"><img src="{{ url_for('static', filename='img/sliders/elastislide/11.jpg') }}" alt="" /></a></dt>
                    <dd>
                        <p><a href="#">{{ _('It works on all major web browsers tablets') }}</a></p>
                    </dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt><a href="#"><img src="{{ url_for('static', filename='img/sliders/elastislide/9.jpg') }}" alt="" /></a></dt>
                    <dd>
                        <p><a href="#">{{ _('Brunch 3 wolf moon tempor sunt aliqua put.') }}</a></p>
                    </dd>
                </dl>
            </div><!--/posts-->

            <!-- Contact Us -->
            <div class="who margin-bottom-30">
                <div class="headline"><h2>{{ _('Contact Us') }}</h2></div>
                <p>{{ _('Vero facilis est etenim a feugiat cupiditate non quos etrerum facilis.') }}</p>
                <ul class="list-unstyled">
                    <li><a href="#"><i class="icon-home"></i>{{ _('5B amus ED554, New York, US') }}</a></li>
                    <li><a href="#"><i class="icon-envelope-alt"></i>{{ _('infp@example.com') }}</a></li>
                    <li><a href="#"><i class="icon-phone-sign"></i>{{ _('1(222) 5x86 x97x') }}</a></li>
                    <li><a href="#"><i class="icon-globe"></i>{{ _('http://www.example.com') }}</a></li>
                </ul>
            </div>
        </div><!--/col-md-3-->
    </div><!--/row-->

    <!-- Our Clients -->
    <div id="clients-flexslider" class="flexslider home clients">
        <div class="headline"><h3>{{ _('Our Clients') }}</h3></div>
        <ul class="slides">
            <li>
                <a href="#">
                    <img src="{{ url_for('static', filename='img/clients/hp_grey.png') }}" alt="" />
                    <img src="{{ url_for('static', filename='img/clients/hp.png') }}" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="{{ url_for('static', filename='img/clients/igneus_grey.png') }}" alt="" />
                    <img src="{{ url_for('static', filename='img/clients/igneus.png') }}" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="{{ url_for('static', filename='img/clients/vadafone_grey.png') }}" alt="" />
                    <img src="{{ url_for('static', filename='img/clients/vadafone.png') }}" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="{{ url_for('static', filename='img/clients/walmart_grey.png') }}" alt="" />
                    <img src="{{ url_for('static', filename='img/clients/walmart.png') }}" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="{{ url_for('static', filename='img/clients/shell_grey.png') }}" alt="" />
                    <img src="{{ url_for('static', filename='img/clients/shell.png') }}" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="{{ url_for('static', filename='img/clients/natural_grey.png') }}" alt="" />
                    <img src="{{ url_for('static', filename='img/clients/natural.png') }}" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="{{ url_for('static', filename='img/clients/aztec_grey.png') }}" alt="" />
                    <img src="{{ url_for('static', filename='img/clients/aztec.png') }}" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="{{ url_for('static', filename='img/clients/gamescast_grey.png') }}" alt="" />
                    <img src="{{ url_for('static', filename='img/clients/gamescast.png') }}" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="{{ url_for('static', filename='img/clients/cisco_grey.png') }}" alt="" />
                    <img src="{{ url_for('static', filename='img/clients/cisco.png') }}" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="{{ url_for('static', filename='img/clients/everyday_grey.png') }}" alt="" />
                    <img src="{{ url_for('static', filename='img/clients/everyday.png') }}" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="{{ url_for('static', filename='img/clients/cocacola_grey.png') }}" alt="" />
                    <img src="{{ url_for('static', filename='img/clients/cocacola.png') }}" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="{{ url_for('static', filename='img/clients/spinworkx_grey.png') }}" alt="" />
                    <img src="{{ url_for('static', filename='img/clients/spinworkx.png') }}" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="{{ url_for('static', filename='img/clients/shell_grey.png') }}" alt="" />
                    <img src="{{ url_for('static', filename='img/clients/shell.png') }}" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="{{ url_for('static', filename='img/clients/natural_grey.png') }}" alt="" />
                    <img src="{{ url_for('static', filename='img/clients/natural.png') }}" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="{{ url_for('static', filename='img/clients/gamescast_grey.png') }}" alt="" />
                    <img src="{{ url_for('static', filename='img/clients/gamescast.png') }}" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="{{ url_for('static', filename='img/clients/everyday_grey.png') }}" alt="" />
                    <img src="{{ url_for('static', filename='img/clients/everyday.png') }}" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="{{ url_for('static', filename='img/clients/spinworkx_grey.png') }}" alt="" />
                    <img src="{{ url_for('static', filename='img/clients/spinworkx.png') }}" class="color-img" alt="" />
                </a>
            </li>
        </ul>
    </div><!--/flexslider-->
    <!-- //End Our Clients -->
</div><!--/container-->
<!--=== End Content Part ===-->
{% endblock %}

{% block js %}
<!-- JS Implementing Plugins -->
<script type="text/javascript" src="{{ url_for('static', filename='plugins/fancybox/source/jquery.fancybox.pack.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='plugins/flexslider/jquery.flexslider-min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='plugins/bxslider/jquery.bxslider.js') }}"></script>
<!-- JS Page Level -->
<script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
        App.initSliders();
        App.initFancybox();
        App.initBxSlider();
    });
</script>
{% endblock %}