{% extends '_base.html' %}

{% set page_title = project.title %}
{% set content_header = project.title %}
{% set breadcrumbs = True %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/pages/blog.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/pages/page_magazine.css') }}">
<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
{% endblock %}

{% block head_content %} 
<script type="text/javascript" src="{{ url_for('static', filename='plugins/jquery.fitvids.js') }}"></script>
{% endblock %}

{% block main_content %}
<!--=== Content Part ===-->
<div class="container">
	<div class="row blog-page blog-item">
        <!-- Left Sidebar -->
    	<div class="col-md-8 md-margin-bottom-60">
            <!--Blog Post-->
            <div class="blog margin-bottom-40">
                <h1>{{ project.title }}</h1>
                <!--
                <div class="blog-post-tags">
                    <ul class="list-unstyled list-inline blog-info">
                        <li><i class="icon-calendar"></i> {{ blog_post.date|format_date }}</li>
                        <li><i class="icon-pencil"></i> {{ blog_post.author.name }}</li>
                        <li><i class="icon-comments"></i> <a href="#">{{ blog_post.comments_count }} Comments</a></li>
                    </ul>
                    <ul class="list-unstyled list-inline blog-tags">
                        <li>
                            <i class="icon-tags"></i>
                            {% for tag in blog_post.tags %}
                            <a href="#">{{ tag }}</a>
                            {% endfor %}
                        </li>
                    </ul>
                </div>
                -->
                <p>
                {{ project.description|safe }}
                </p>

                <div id="subscribe-form">
                  <button>Subscribe to Makefoo</button>
                  <div>
                    <div>
                        First one is free... so are the rest. Daily.
                    </div>
                    <div class="panel-body">
                    <form class="form-inline" role="form">
                        {{ subscribe_form.csrf_token }}
                        <div class="form-group">
                            {{ subscribe_form.email.label(class="sr-only") }}
                            {{ subscribe_form.email(class="form-control", placeholder=subscribe_form.email.label.text) }}
                        </div>
                        <button type="submit" class="btn-u btn-u-default">{{ _('I\'m in') }}</button>
                    </form>
                    </div>
                    <div class="privacy-policy">
                        By submitting above you agree to the Makefoo privacy policy.
                    </div>
                  </div>
                </div>

                <div class="blog-img">
                    <div id="ytplayer" style="margin: 0px auto;width:100%;"></div>
                    {% for video in project.videos %}
                        <script>
                          // Load the IFrame Player API code asynchronously.
                          var tag = document.createElement('script');
                          tag.src = "https://www.youtube.com/player_api";
                          var firstScriptTag = document.getElementsByTagName('script')[0];
                          firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

                          // Replace the 'ytplayer' element with an <iframe> and
                          // YouTube player after the API code downloads.
                          var player;
                          function onYouTubePlayerAPIReady() {
                            player = new YT.Player('ytplayer', {
                              height: '476',
                              width: '847',
                              videoId: '{{video.host_guid}}'
                            });

                            $(".blog-img").fitVids();
                          }
                        </script>
                    {% endfor %}
                </div>
                
                
                <!-- Blog Tags -->
                <ul class="list-unstyled blog-tags margin-bottom-30">
                    {% for tag in project.tags %}
                    <li><a href="/category/{{ tag.name }}"><i class="icon-tags"></i> {{ tag.name }}</a></li>
                    {% endfor %}
                </ul>
                <!-- End Blog Tags -->

            </div>
            <!--End Blog Post-->

            <!-- Next Projects -->
            <div class="related-projects">

                <h3>Your next project</h3>
                <a href="/project/{{project.slug}}">
                    <div class="next-project">
                        <h2>{{next_project.title}}</h2>
                        <img style="width:100%" src="http://img.youtube.com/vi/{{next_project.videos[0].host_guid}}/sddefault.jpg" alt="{{next_project.title}}"/>
                    </div>                
                    </a>
            </div>
            <!-- End Next Projects -->

            <div class="subscribe-footer">
                <h2>Want more stuff like this?</h2>
                <p>We're on a mission to spread meaningful content far and wide.<br/>
                Try our daily email, The Upworthiest, and see for yourself!</p>

                <div class="panel-body">
                    <form class="form-inline" role="form">
                        {{ subscribe_form.csrf_token }}
                        <div class="form-group">
                            {{ subscribe_form.email.label(class="sr-only") }}
                            {{ subscribe_form.email(class="form-control", placeholder=subscribe_form.email.label.text) }}
                        </div>
                        <button type="submit" class="btn-u btn-u-default">{{ _('I\'m in') }}</button>
                    </form>
                </div>
                <div class="privacy-policy">By submitting above you agree to the Upworthy privacy policy.</div>
            </div>

			<hr>

            <!-- Recent Comments -->
            <!--
            {% for comment in comments recursive %}
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="{{ url_for('static', filename=comment.avatar) }}" alt="" />
                </a>
                <div class="media-body">
                    <h4 class="media-heading">{{ comment.name }} <span>{{ comment.time_delta }} / <a href="#">Reply</a></span></h4>
                    <p>{{ comment.comment }}</p>
                    {% if comment.children %}{{ loop(comment.children) }}{% endif %}
                </div>
            </div>
            {% endfor %}

            <hr>
            -->
            <!-- Comment Form -->
            
            <div class="post-comment">
                <h3>{{ _('Leave a Comment') }}</h3>

                <div id="disqus_thread"></div>
                <script type="text/javascript">
                    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
                    var disqus_shortname = 'kingofrandom'; // required: replace example with your forum shortname

                    /* * * DON'T EDIT BELOW THIS LINE * * */
                    (function() {
                        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                    })();
                </script>
                <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
                <!--    
                <form>
                    {{ comment_form.csrf_token }}

                    {{ comment_form.name.label }}{% if comment_form.name.flags.required %}<span class="color-red">*</span>{% endif %}
                    <div class="row margin-bottom-20">
                        <div class="col-md-7 col-md-offset-0">
                            {{ comment_form.name(class="form-control") }}
                        </div>
                    </div>

                    {{ comment_form.email.label }}{% if comment_form.email.flags.required %}<span class="color-red">*</span>{% endif %}
                    <div class="row margin-bottom-20">
                        <div class="col-md-7 col-md-offset-0">
                            {{ comment_form.email(class="form-control") }}
                        </div>
                    </div>

                    {{ comment_form.message.label }}{% if comment_form.message.flags.required %}<span class="color-red">*</span>{% endif %}
                    <div class="row margin-bottom-20">
                        <div class="col-md-11 col-md-offset-0">
                            {{ comment_form.message(class="form-control", rows="8") }}
                        </div>
                    </div>

                    <p><button class="btn-u" type="submit">{{ _('Send Message') }}</button></p>
                </form>
                -->
            </div>
            
            <!-- End Comment Form -->
        </div>
        <!-- End Left Sidebar -->

        <!-- Right Sidebar -->
        <div class="col-md-4 magazine-page">

            <!-- Posts -->
            <div class="posts margin-bottom-40">
                <div class="headline headline-md"><h2>{{ _('Recommended Projects') }}</h2></div>
                {% for project in suggested_projects %}
                    <a href="/project/{{project.slug}}">
                    <div class="sidebar-project">
                        <a href="/project/{{project.slug}}">{{project.title}}
                        <img style="width:100%" src="http://img.youtube.com/vi/{{project.videos[0].host_guid}}/sddefault.jpg" alt="{{project.title}}"/>
                    </div>                
                    </a>
                {% endfor %}
            </div>
            <!-- End Posts -->

        </div>
        <!-- End Right Sidebar -->
    </div><!--/row-->
</div><!--/container-->
<!--=== End Content Part ===-->
{% endblock %}

{% block js %}
<!-- JS Page Level -->
<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
        $( "#subscribe-form" ).accordion({
          collapsible: true,
          active: false
        });
    });
</script>
{% endblock %}